[2018-11-23 07:47] Vishakha-Patel opened #2 "Gutenberg Post grid showing wrong Author"
The grid widget shows the page author instead of the post author.

https://wordpress.org/support/topic/orbit-fox-otter-bloks-posts-grid-widget-displaying-wrong-author/

[2018-12-07 08:59] HardeepAsrani commented on #2
Fixed in 1.0.3

[2018-12-07 08:59] #2 closed

[2018-12-07 09:12] HardeepAsrani opened #6 "Update WordPress compatibility"
Update WP tested up to version to 5.0.

[2018-12-10 22:54] #6 closed

[2018-12-28 15:21] selul opened #8 "feedback advanced columns"
@HardeepAsrani I did check otter blocks, the advanced column block, and is pretty neat, i think is solid to release it.
Meanwhile do you think is possible to do some improvements on those things, but after we release this:

- [x] Can we place the advanced column on layout elements tab too? http://prntscr.com/m0n63a
- [x] on reset, this field is not emptied, is still filled with the previous value

[2018-12-29 08:13] HardeepAsrani commented on #8
1. We can only add one category per-block, so it can either be in Otter Blocks tab or Layout tabs.

2. Fixed.

3. Fixed.

4. It's tabbed really, similar to how Elementor is doing, followed their UI pattern in this.

5. I don't understand it.

6. Responsiveness Selector is custom, but built using Gutenberg's Popover component. Wanted to list them horizontally but that would make it too filled for s

[2019-01-01 19:09] HardeepAsrani opened #9 "Button Group block"
@ineagu @selul Should we add this block?

The issue being Gutenberg's default button block has no way of adding two buttons in one row, provides with no option to choose hover color, which will not be a good thing.

What do you guys think about it?

It also has an issue with heading block. Heading block has no option to pick a color for the heading, so if we make a layout with dark background, we

[2019-01-02 13:50] ineagu commented on #9
Wouldn't columns solve this problem? For first?

For 2nd I think we can try to focus on the core missing pieces ( like row stuff you work on ). I see first part we did as experimental phase, row layout thing as first part, then once we get the feedback and understand what people want and how they use move forward with more blocks/settings/layouts etc.

Those are my quick thoughts on this, unless t

[2019-01-02 20:05] HardeepAsrani commented on #9
@ineagu I'm against using columns for button group, but even if I do that, major missing piece is hover colors, what should we do about them?

[2019-01-02 20:09] HardeepAsrani commented on #9
I'm just curious, do you see hover styles as something that we need to add or something that isn't needed for now but we can add later if needed with custom blocks?

I'm obsessed with perfection, but "completed is better than perfect." :)

[2019-01-03 07:13] selul commented on #9
@HardeepAsrani yes, I agree with @ineagu, we can postpone this until we get more insights and develop some templates using Gutenberg. Meanwhile, we can try to find some workarounds to those things for the templates we develop ( custom styles, css classes ) and later on work on a generic solution.

Related to the hover style, if we would have to develop those, we can extend the props of the current

[2019-01-03 07:33] selul commented on #8
1. What do you think if we move advanced column under Layout and rename the otter blocks category into  `Advanced blocks by Otter block` with `by Otter blocks` under smaller font size and italic style ?
4. I get your point, my idea was more that, in the current style, I feel like is working similar with a toggle button, the bottom is excluding top and vice-versa. However, is not a blocker, we can

[2019-01-06 13:06] HardeepAsrani commented on #9
@selul We will have to make a new button block because the current one is kind of not usable with most of the themes. They take theme styles so they can look completely 360 degrees opposite from the intended design depending on which theme you're using.

I have complete faith that this feature won't be getting improved in Gutenberg anytime soon, so a Button Group is really needed. Plus, it can be

[2019-01-06 13:16] selul commented on #9
@HardeepAsrani ok, let's move this forward then.

[2019-01-10 16:17] ineagu opened #10 "option for themes to disable plugin styles"

[2019-01-10 16:18] ineagu opened #11 "rename to Otter only"
@HardeepAsrani

[2019-01-10 18:23] ineagu opened #12 "create plugin icon and small icon to display in blocks list"
@HardeepAsrani

[2019-01-10 18:24] ineagu opened #13 "find a new name and icon for Advanced columns"
@HardeepAsrani

[2019-01-10 18:25] ineagu opened #14 "auto-display columns part on pages"

[2019-01-10 18:25] ineagu opened #15 "redo description / readme to feature the new section block mostly"

[2019-01-11 11:55] rodica-andronache commented on #8
hi! not sure if this is a problem in the core or not, but I saw that unless you click on the column block itself, even though you click on the Add icon inside that block, the new block is added in the previously selected block https://screencast-o-matic.com/watch/cqVXXM3Qwu

[2019-01-11 21:58] HardeepAsrani opened #16 "Removing old blocks"
I was thinking about the future of the plugin and had a quick discussion about it Ionut. And after a lot of feedback from a lot of people, and some of my own ideas, I wanted to propose that we remove a lot of old blocks from Otter.

Our main focus should be:

- Advanced Columns (which includes Button Group and Advanced Heading as a companion)
- Posts Grid - All the people who use this plugin use i

[2019-01-11 22:00] HardeepAsrani commented on #14
I'll leave this for the next release, maybe the end of January of early Feb.

[2019-01-11 22:01] HardeepAsrani commented on #13
What do you want here? Section?

[2019-01-11 22:01] HardeepAsrani commented on #12
@selul will get someone to do the logo.

[2019-01-11 22:01] HardeepAsrani commented on #10
What? I don't get this one.

[2019-01-12 10:51] selul commented on #16
@HardeepAsrani I get your point, but I'm not sure that making a separate plugin worth to try. For charts, I agree that we should keep just in Visualizer.

But for Notice, Click to Tweet and Accordion making a separate plugin doesn't make too much sense for me, either we remove them completely or we keep them further. Another solution is to keep them only in OrbitFox.

I'm not sure I understand the

[2019-01-12 10:54] selul commented on #13
following #8 i think we should move this under layout tab too. Section indeed seems much better than advanced column in terms of naming.

[2019-01-12 10:56] selul commented on #12
yes, i will talk with Vladmir who designed Optimole.

[2019-01-12 20:43] HardeepAsrani commented on #13
Okay, so as talked with both of you:

- We will rename "**Advanced Columns**" to "**Section**"
- Rename category of "**Otter Blocks**" in Inserter to "**Advanced Blocks by Otter**."

What about Advanced Heading? Should we also rename it to something like, "Title" or something, or we just leave it as Advanced Heading?

@selul @ineagu

[2019-01-12 20:58] HardeepAsrani commented on #16
I agree. That's why I propose we release that plugin from my account just for the sake of the people who want to keep using it. This way the company won't have to maintain it.

That will make things little complicated to maintain. :)

It's little hard to explain, so let me try. We will remove those three blocks from the plugin for adding. If you've added them to your post, they will still work. If

[2019-01-13 11:54] selul commented on #16
@HardeepAsrani i get your point regarding the last 3 blocks, makes sense now.

Regarding of the blocks, you think we should remove if we keep them how this will affect otter ? Will reduce performance, will increase the assets size, or how ?
Also, I'm not sure if we keep just in obfx, why is hard to maintain? Isn't the same case if we keep them in a separate plugin?

[2019-01-13 20:41] HardeepAsrani commented on #16
For the most blocks, I guess 20kbs of size in the build.

For that Chart block, it will reduce our build size by more than 1MB. :)

If we keep it in a separate non-ThemeIsle plugin, then we don't have to maintain it after one release. We can pretty much give it as an option for people who want to use it, or to continue using it until they find an alternative. But I guess we can just remove them.

[2019-01-14 11:17] ineagu commented on #13
1. @selul my original idea for our "advanced" blocks as well as section was to use a small differentiator for sections with a common name, in a way that section purpose is clear, but also unique, with small o from Otter. Both Rodica and Hardeep don't like my idea, don't have another one.

oSection
oHeading
oButton
etc

2. For Category in the inserter, I would have just Otter with a small icon.

[2019-01-14 11:19] ineagu commented on #10
don't we add any pre-defined css for blocks like plugin card? add option to
disable that completely in themes

On Fri, Jan 11, 2019 at 10:01 PM Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-01-16 04:58] HardeepAsrani commented on #15
@adelina17 Can you help with this? I'm bad at writing about these things, I'll just keep repeating the same thing again and again. Targets scare me. 😄

[2019-01-16 16:35] radu-themeisle commented on #8
@HardeepAsrani, Here's my feedback for the current version:

_Warning: long post ahead! 😁_

**Advanced Columns**
- block added in previous column instead of the column where you try to add: https://www.useloom.com/share/a3a68ffea6004a0cb63d54059a6bc015
- when selecting the image it reduces its size and overlaps previous block, the reduced size also renders on the front: https://www.useloom.com/sha

[2019-01-16 20:29] HardeepAsrani opened #17 "Radu's Feedback for Otter Blocks"
@HardeepAsrani, Here's my feedback for the current version:

_Warning: long post ahead!_ 😁

**Advanced Columns**

- [x] block added in previous column instead of the column where you try to add: https://www.useloom.com/share/a3a68ffea6004a0cb63d54059a6bc015
- [x] There are 2 shape dividers that don't have the "invert" option: curve and clouds
- [x] If you set the column's background to a dark colo

[2019-01-16 20:55] HardeepAsrani commented on #17
`block added in previous column instead of the column where you try to add: https://www.useloom.com/share/a3a68ffea6004a0cb63d54059a6bc015`

This is a fault with Gutenberg, reported here: https://github.com/WordPress/gutenberg/issues/13349

[2019-01-16 20:58] HardeepAsrani commented on #17
Can you explain this more? I'm a little not sure about how it happens. Also, can you also see if this happens in the default Columns block too, or is an issue exclusively with Otter?

[2019-01-16 21:04] HardeepAsrani commented on #17
If this happens, it can either for two reasons:

- That divided doesn't need the invert setting.

- My SVG skills aren't good enough to write the same SVG in reverse. This is probably the reason with Clouds. 😄 😆

[2019-01-16 21:08] HardeepAsrani commented on #17
This thing is little confusing. I understand your point, but the weird thing is that both Italic options are for separate reasons.

- The one in toolbar is to make some particular part of the heading italic.
- The one in typography is to load Google Font with Italic property.

But you're right, we can make it better.

[2019-01-16 21:09] HardeepAsrani commented on #17
Theme related.

[2019-01-16 21:10] HardeepAsrani commented on #17
Just didn't do it in case the person doesn't want a protocol there, like if you want a relative URL like `#anchor`, or you want something like `mailto:email@address`

Makes sense, or you have something else in mind?

[2019-01-16 21:12] HardeepAsrani commented on #17
I've kept it there for things that won't be used much often. Not just for now, but also for the options we will be adding in future.

[2019-01-16 21:13] HardeepAsrani commented on #17
It only has options that are set Group-wise, not per-button. Why do you think they should be kept together? Is it confusing or anything? :)

[2019-01-16 21:16] HardeepAsrani commented on #17
I've figured out what was causing the issue with iThemes and fixed it already. I believe you faced the error for some other reason that we need to figure out. Can you try on a fresh install and see if this happens again? I has worked for me just fine.

[2019-01-17 02:17] #8 closed

[2019-01-17 09:59] rodica-andronache commented on #8
@HardeepAsrani it would be great if you could add the latest version on git too 👍 it would be easier to test by everyone :D

[2019-01-18 01:16] #9 closed

[2019-01-18 01:16] #16 closed

[2019-01-18 01:17] #15 closed

[2019-01-18 01:17] #13 closed

[2019-01-18 01:17] #11 closed

[2019-01-18 10:20] rodica-andronache opened #19 "Gutenberg blocks for Neve/Hestia"
@Codeinwp/theme-dev like we talked in the morning, we should aim to have 9 blocks for Neve and 9 for Hestia in the next week. I am thinking that rather than assigning them to you, each one of you can choose the blocks you want to work on, just mention it here, so the others know that's already taken.
I suggest that until Monday, each of you take a look at Otter and try to understand what/how you s

[2019-01-18 11:54] rodica-andronache commented on #19
@HardeepAsrani we could add the blocks in the themes, right? How would we hook to the plugin?

[2019-01-20 15:01] HardeepAsrani commented on #19
# Template Library

Template Library a part of Section block in which allows users to import pre-built section and page templates with one-click import.

It has two Tabs:

- Blocks
- Templates

**Blocks** contain pre-built sections, such as Pricing, Services of Header, while **Templates** contain full-page templates, such as a Homepage or an About page.

## Adding New Templates

The process of add

[2019-01-20 15:03] HardeepAsrani commented on #19
@rodica-andronache Let me know if this helps. It's more detailed as I was writing the documentation for the package so just copied from there.

Let me know if you think anything is missing from this. In a future version, I'll make the process easier where you can just import the JSON without editing it afterwards.

Also, where are you planning on keeping the assets? In the `gutenberg-templates` re

[2019-01-20 15:05] HardeepAsrani commented on #19
Damn, I need to fix that close button's alignment in Template Library modal on Chrome. 😄

[2019-01-21 08:32] abaicus commented on #19
@HardeepAsrani Wouldn't exporting from the `edit.php?post_type=wp_block` screen yield the same result? 👍

[2019-01-21 08:36] HardeepAsrani commented on #19
@abaicus Nope.

1. Reuseable blocks are different than reusing same block, as they share the same attributes, so that sucks.

2. JSON format is different. Reuseable blocks just save the output HTML of the block, while we save the entire JSON data (which is generated by Gutenberg).

[2019-01-21 08:40] HardeepAsrani commented on #19
To show you the difference, here's the same data:

Generated from Reuseable Block screen: https://pastebin.com/HYaNPa62

Generated from our plugin: https://github.com/Codeinwp/gutenberg-templates/blob/master/testimonials-boxed/template.json

@abaicus

[2019-01-21 09:00] abaicus commented on #19
👍 thanks for the pointers!

[2019-01-21 10:02] stefan-cotitosu commented on #19
I want to work at Neve
- Big title
- About
- Team
- the fours icons with background image
- Neve in detail
- Testimonials
- Get with Neve

These name are the section title from the demo.

[2019-01-21 10:07] rodica-andronache commented on #19
@stefan-cotitosu maybe you can take it section by section 👍 At least this way I think it would be faster

[2019-01-21 10:12] radu-themeisle commented on #19
I want to work on Hestia, I was thinking of doing the Lite section by section and then add the one in Pro.

[2019-01-21 10:17] rodica-andronache commented on #19
@radu-themeisle let's do it section by section ( this way we can also have some feedback from the others and Hardeep, just so we know we are on the right path ) :D And let's keep it just for Hestia and Neve for now. After that, we can go on with Hestia Pro

[2019-01-21 10:54] stefan-cotitosu commented on #19
I think we can open a new issue on Otter for things that don't work or are not possible yet.
Otherwise somebody will have to read all these comments to find suggestions. And from what I understand we have to comment here, before and after each section so, it will be a mess.
( It's just a suggestion. )

The overlay on Section block is not working as I expected. It adds a border instead of making th

[2019-01-21 10:56] rodica-andronache commented on #19
feel free to open an issue for this 👍

[2019-01-21 10:57] ineagu commented on #19
also don't need to get stuck and have it identical I think, where is not
possible, another approach can be used too if you have ideas. but also note
the challenge

On Mon, Jan 21, 2019 at 10:54 AM Stefan Cotitosu <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-01-21 15:22] stefan-cotitosu commented on #19
For the Gutenberg template files in the theme, I've created the following path:
`gutenberg/templates/big-title`

I thought that someday beside the templates folder may be the `blocks` folder if we add blocks too.
`big-title` is the name of the section

https://github.com/Codeinwp/neve/pull/328

[2019-01-21 15:48] stefan-cotitosu opened #20 "New block options"
### Button Group  - it would be great if we can have the following options

- [x]   - line-height control for the buttons text
- [x]   - responsive option, to have the buttons one above each other on mobile
- [ ]   - add responsive alignment

### Advanced heading

- Responsiveness settings toggle works only for the font-size, it would be great to work for the line-height too, or for all typography

[2019-01-21 15:55] stefan-cotitosu commented on #19
I've added here, new options that I consider useful for the blocks.

https://github.com/Codeinwp/otter-blocks/issues/20

[2019-01-21 15:56] ineagu commented on #20
@stefan-cotitosu but what about putting the block group inside a nested 1 column container block, which has margin control and so on?

[2019-01-21 15:59] stefan-cotitosu commented on #20
@ineagu I will try a Section block with 2 columns and a Button group block with only one button in each column.

This should work, thanks 👍

[2019-01-23 08:45] abaicus commented on #19
@radu-themeisle @stefan-cotitosu @rodica-andronache
I'm going to take the hestia team section, if that's ok with you :)

[2019-01-23 10:45] stefan-cotitosu commented on #19
I am working at Neve Ribbon section
![neve-ribbon-section](https://user-images.githubusercontent.com/26867648/51601316-b055ea80-1f0c-11e9-9bcb-357f17c92ec8.png)

[2019-01-23 11:18] selul opened #21 "wporg changelog is missing"
@HardeepAsrani the wporg changelog is missing right now due to the fact that we don't have any Changelog section in the readme.txt file.

The build process uses the Changelog section if exists, otherwise it skip the readme.txt changelog update.

We should add the changelog section into the readme.txt file in order for the next release to update the file.

[2019-01-23 11:19] selul commented on #17
@HardeepAsrani let's try to solve the issues that make sense in the next release, please tag the fixes in commits to this issue.

[2019-01-23 12:10] ineagu commented on #19
again, this seems to have quite a bit of elements, if further editing
became too complex, better have it simpler, don't need to be identical :)

On Wed, Jan 23, 2019 at 10:45 AM Stefan Cotitosu <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-01-23 12:13] abaicus commented on #19
@HardeepAsrani I'd find it much easier to deal with alignments if the default values for margins and padding would be 0 out of the box. It takes a great deal of time to go inside every element and do that.

cc: @Codeinwp/theme-dev

[2019-01-23 12:14] abaicus commented on #19
Especially on mobile devices. I get surprise paddings everywhere.

[2019-01-23 12:17] abaicus commented on #19
For horizontal spacing, I usually find it a lot more intuitive to handle with a spacer than a padding / margin.

[2019-01-23 12:20] radu-themeisle commented on #19
It's up for discussion as I find it easier the other way around, also you don't get an extra element in the page

[2019-01-23 12:21] abaicus commented on #19
I really don't find it easier clicking ~100 times to 0 them out. It's fine to use them. I just say that it's a pain to go through each one (times 3 media queries) and zero them out.

[2019-01-23 12:22] HardeepAsrani commented on #19
FYI: You can adjust top/bottom padding of Section like this too: https://www.useloom.com/share/a03086bb3e8c4cc0be5ed05cbe4fd7e8

Not in the current stable version (it's available there too, but some styling got messed up so doesn't work).

[2019-01-23 12:33] abaicus commented on #20
A suggestion that I want to add here:

- [ ] It'd be useful if `Maximum Content Width` for the Section Structure could have responsive options.

[2019-01-23 12:33] stefan-cotitosu commented on #19
@radu-themeisle I think we have to start using the services block instead of building the card directly inside the Section Column block.

The advantage is that the services block can be duplicated while the column can't.
Just tried to build a card on all devices and then to copy it. Unfortunately I couldn't because I built it directly in the column block. I used reusable blocks but still I copied

[2019-01-23 12:33] HardeepAsrani commented on #20
```padding/margin that will affect all columns; right now if I add 4 columns, by default they all have margin and padding 20px instead of 0px; I have to edit each column to clear that(including mobile devices); I would like a control that can affect all of them, and if the inner column set the properties, the column setting will have higher priority; this generic control should be placed in Sectio

[2019-01-23 13:00] stefan-cotitosu commented on #19
I will start "Why Select Us" on Neve
![neve-why-select-us](https://user-images.githubusercontent.com/26867648/51608248-9540a600-1f1f-11e9-89de-bca2b8956b0c.png)

[2019-01-23 13:23] HardeepAsrani commented on #17
Icon won't be used in the most of the situations, so that's why kept it after usual options.

I'll mark this as checked as I don't see this being asked from users, but will keep open if more people ask for it.

[2019-01-23 13:23] HardeepAsrani commented on #17
Nice catch, should find a good UX for this.

[2019-01-23 13:47] abaicus opened #23 "Section paddings overwrite themselves"
Section paddings get overwritten by themselves in some situations.

![image](https://user-images.githubusercontent.com/15010186/51610747-2b77ca80-1f26-11e9-96ab-106346090338.png)

[2019-01-23 13:49] abaicus commented on #23
More precisely the linked paddings overwrite the unlinked paddings. cc @HardeepAsrani

[2019-01-23 15:10] abaicus opened #24 "Fatal error when Gutenberg plugin is installed"
[code]

![image](https://user-images.githubusercontent.com/15010186/51615897-9f6ba000-1f31-11e9-917c-5cd47790baa5.png)

cc @HardeepAsrani

[2019-01-23 15:17] HardeepAsrani commented on #24
@abaicus Can you replace

[code]

with

[code]

[2019-01-23 16:11] stefan-cotitosu opened #25 "Duplicate block creates a new one with the same id"
If I have a Section block, with `padding: 180px 0;` and I click duplicate on it, and on the duplicated block I set `padding: 150px 0;` both blocks will have `padding: 150px 0;` because they share the same id, and the style from the second one will override the style of the first one.
This is not happening for any CSS property.

The good news is that before uploading *template.json* file on github

[2019-01-24 09:09] HardeepAsrani commented on #23
@abaicus That happens because you've duplicated the section, so it has the same unique ID as the previous section.

So you will have to remove the ID attribute by default. It's an issue that I've fixed in development.

[2019-01-24 19:43] HardeepAsrani commented on #23
Closing as it's a duplicate of https://github.com/Codeinwp/otter-blocks/issues/25

[2019-01-24 19:43] #23 closed

[2019-01-24 21:33] #24 closed

[2019-01-24 21:33] #25 closed

[2019-01-25 13:18] rodica-andronache commented on #19
@stefan-cotitosu @radu-themeisle we should have the Blocks in separated tabs for Neve & Hestia, similar to here https://prnt.sc/mc16kw , not in the Templates tab. @HardeepAsrani can help with how could we hook in the library to add the Neve & Hestia tabs :)

[2019-01-25 13:34] ineagu commented on #19
I guess this we can see if is better to have a tab for neve blocks, or list
in the main view in a neve dropdown with a sort of visual identifier

On Fri, Jan 25, 2019 at 1:18 PM Rodica-Elena Andronache <
notifications@github.com> wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-01-25 13:38] HardeepAsrani commented on #19
@ineagu Wouldn't recommend a tab as if soon people start making plugins addon for Otter (let's just imagine that), and Tabs API is available, what if everyone started registering their own tabs? That will fill the screen.

Having a Category is better. :D

[2019-01-25 13:42] ineagu commented on #19
yep this is what I thought, at max can be a 3rd party tab so we can
differentiate official/non-official templates at some point, but probably
for start is easier to just list in the main tab and visually differentiate
with a sort of label+dropdown

On Fri, Jan 25, 2019 at 1:38 PM Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://io

[2019-01-27 12:31] #21 closed

[2019-01-27 12:31] #12 closed

[2019-01-27 12:36] HardeepAsrani commented on #17
Closing this ticket and moving the feedback to their own separate tickets.

[2019-01-27 12:36] #17 closed

[2019-01-27 12:37] HardeepAsrani commented on #20
Closing the ticket and moving the unsorted items to their own tickets.

[2019-01-27 12:38] HardeepAsrani commented on #10
Closing this as only one block has any styles at all, so it is not really worth doing. @ineagu

[2019-01-27 12:38] #10 closed

[2019-01-27 13:30] HardeepAsrani opened #28 "Welcome Page"
A welcome page with the list of compatible products, video tutorials, and few plugin options.

[2019-01-27 13:50] HardeepAsrani opened #552 "Template Library Dependencies"
A way for developers to declare dependencies for certain templates. And also check if the block used in template actually exists while importing.

[2019-01-27 22:12] HardeepAsrani opened #29 "Optimize build"
Optimize the size of artifact by removing the source files.

[2019-01-28 00:13] HardeepAsrani opened #30 "Update Font Awesome"
Update Font Awesome to the latest version.

[2019-01-28 01:07] HardeepAsrani commented on #19
FYI, update to 1.1.1 version. Make sure the button group works after you update, might be some issue with previous versions. If it gives an error then message me and I'll sort it out. Won't happen with new buttons, just the old ones.

[2019-01-28 02:34] #30 closed

[2019-01-28 10:18] stefan-cotitosu opened #32 "Word break for inner columns"
### Current behavior
`wordk-break: break-all;`
![break-all](https://user-images.githubusercontent.com/26867648/51829725-d279af00-22f6-11e9-9dfd-422cd4a8231b.png)

### Expected behavior
`wordk-break: break-word;`
![break-word](https://user-images.githubusercontent.com/26867648/51829729-d5749f80-22f6-11e9-90ff-5a45172194de.png)

[2019-01-28 10:20] stefan-cotitosu commented on #32
@HardeepAsrani do you think that we can fix this? Is there a reason for using `break-all` instead of `break-word` ?

[2019-01-28 11:06] stefan-cotitosu commented on #20
@HardeepAsrani Can we add `line-height` control based on the device?

The font-size control can have a different value on each device. That's great but I want to be able to change the line-height too.

Here is a situation with
 - `font-size: 60px;` on Desktop
 - `font-size: 37px;` on Mobile

with the same line-height, I have to choose
 - very large space between rows on mobile
 - text collapsed on

[2019-01-28 11:14] radu-themeisle opened #33 "Column margin 0 overrides section colum gap"
I saw this on other template also.
The section has column gap set to a value, but on the frontend there's no gap between columns.
I believe that the column's padding/margin being set to 0 overrides the section column gap:
http://prntscr.com/md713g

[2019-01-28 12:57] #32 closed

[2019-01-28 14:57] radu-themeisle opened #34 "FA block aligned left/right positions lower than row"
While trying to replicate [this](http://prntscr.com/mdappo) part from Hestia contact section I aligned the icon to the left and in the editor it is lower than the row on which I have the heading: http://prntscr.com/mdakzt

It seems though that on the frontend it is vertically aligned correct: http://prntscr.com/mdaq9s

I noticed the FA icon is wrapped in a `p` tag, this causes it to take the style

[2019-01-28 15:00] radu-themeisle commented on #34
Also, it seems that when being aligned there's no visual feedback to select the icon: https://www.useloom.com/share/7164a5b0886d4b469d19ada19df1500e

This might be confusing to beginner users or ones who don't have the curiosity to try and click the icon anyway to edit it.

[2019-01-28 15:06] HardeepAsrani commented on #34
I will fix this issue tonight and release with Post Grid issue. Even then the FA Icon isn't meant for this. We will be releasing an Icon List in 1.2 version which can do this layout for you. Until then, I recommend you use columns for this layout.

[2019-01-28 15:57] radu-themeisle commented on #33
@HardeepAsrani another issue on columns: I have margin-left set to 195 px on desktop, but I don't want it on tablet/mobile. Although I set the value to 0, it doesn't have any effect and it takes the value for desktop.

[2019-01-29 09:20] radu-themeisle commented on #19
Hestia Lite Gutenberg blocks are done, apart from the Blog section for which I have to wait for @HardeepAsrani to fix the issues with Post Grid block.
They can be tested here: https://github.com/Codeinwp/hestia-pro/pull/2020

[2019-01-29 09:36] rodica-andronache commented on #19
@radu-themeisle for the blocks titles, we should try to use already existing strings, so we don't mess up with the translations percentages, as much as we can. For example, https://github.com/Codeinwp/hestia-pro/pull/2020/commits/aa1df14c085f48a136d2c01445d7ceb3c927f6b9#diff-e8078adcaad9502aa7f6a07ce2423501R503 could be 'Big Title Section'. 'Hestia Features' could be 'Features' and so on 👍 Same fo

[2019-01-29 11:03] rodica-andronache commented on #19
@HardeepAsrani I understand we use those titles for a11y, but considering it's a problem for us in the themes, couldn't we have other solutions? Maybe have just a slug there, instead of a title? We could leave them untranslated but it's possible that some of the TRT people are not ok with it

[2019-01-29 11:08] HardeepAsrani commented on #19
@rodica-andronache You can leave them empty and the Library will use `Untitled Gutenberg Template` by default, so that's not a technical issue.

But here's how I see it:

In 1.2 version (Feb), we will display the title to the user as well, so by not adding the title, you're avoiding the inevitable.

Also, I get the reason why we're not adding the title, but we are just making things less flexible

[2019-01-29 11:18] ineagu commented on #19
@HardeepAsrani are you aware that rodica is talking about blocks? I am not sure in which way the title of blocks is useful and why to display it, having for example 100 blocks in the library, titles would just waste space in my opinion, like having a specific title for each particular block, I agree we want them for pages even description, but not individual block templates in my opinion, elemento

[2019-01-29 11:25] HardeepAsrani commented on #19
@ineagu Even Elementor is using the title for blocks it, they just don't show it to the user. 😄  We can keep them in the front like it is, but it will make the a11y worse. So as I said, we can technically not add it and Library will use `Untitled Gutenberg Template` for `aria-label`, so it won't cause any issues.

[2019-01-29 11:34] rodica-andronache commented on #19
sounds good @HardeepAsrani. when do you think we could have these changes? It would be great if we could release Hestia and Neve this week with the blocks that are ready

[2019-01-29 11:35] HardeepAsrani commented on #19
I’ll release it tonight most likely.

[2019-01-29 12:04] rodica-andronache opened #35 "Check Otter blocks with Neve/Hestia's sidebar"
@radu-themeisle like we talked, you can take a look at the default blocks too, to make sure they work the same as the custom blocks for Neve/Hestia in our custom gutenberg integration
https://prnt.sc/mdpoy1

[2019-01-29 13:22] radu-themeisle opened #36 "FA loaded from theme instead of plugin"
I used the button block with 4 buttons to recreate the social icons but the FB one was style by the theme (which uses FA v 4.7) instead of the plugin: http://prntscr.com/mdqypd

[2019-01-29 14:40] radu-themeisle commented on #35
The blocks had  left/right margins, I deleted them and set the section structure to max-width 1170px. All the blocks use full-width in order to stretch across the page.

**Hestia**
With sidebar, the content overlaps it and there's a negative left/right margin that makes everything look weird:
http://prntscr.com/mdrwmk
http://prntscr.com/mdrw7t In this case, the block covers the sidebar.

Without n

[2019-01-29 15:31] stefan-cotitosu commented on #20
@HardeepAsrani here is a feedback after the first test on the Neve front page sections.
I am writing this so you don't have to gather info from the pull requests comments, hope it helps :)

- [ ] - add line-height control based on device. If I don't set a line-height, everything looks good until changing the theme. This is a particular case because Neve adds line-height in em.
- [ ] - fix the word

[2019-01-29 16:50] HardeepAsrani commented on #20
You mean to add a new block, right?

[2019-01-29 16:58] HardeepAsrani commented on #20
Nice catch! Seems like this happens with the unique ID coming from clientId. This is major.

[2019-01-30 11:38] stefan-cotitosu commented on #20
@HardeepAsrani Can we remove the drag & drop padding control from the Section block and inner columns.

I find it confusing, because the structure is complex with just 2 inner columns, and the default values for padding and margin are still 20px. I set them to 0, then I accidentally moved that padding line and it seems that nothing was changed. Later I discovered that the paddings are not 0px anym

[2019-01-30 11:53] radu-themeisle commented on #20
It's useful, no need to remove it but rather fix it as it doesn't update in real-time and it's confusing. Here's a screen recording and what's interesting is that one of the default blocks update the padding value as you drag: https://www.useloom.com/share/c5006d0989f14ce08da43c2a699cf6ec

[2019-01-30 12:38] selul commented on #20
@stefan-cotitosu @radu-themeisle while the feedback is welcomed and would be addressed in the future, you need to develop the templates with the current otter's features, find solutions that do not involve releasing a new version each time you find a bug or a suggestion.

These things you have reported, they will be analyzed and gathered in releases but you don't need to count on them when doing y

[2019-01-30 12:59] stefan-cotitosu commented on #20
@selul Thanks for the advice. We are always finish the tasks in a way or another with the current options of Otter.

I just try to note down suggestion and ask for feedback here, to have the data centralized. Otherwise, it will be hard for Hardeep to gather them from other issues and pull requests discussions.

And sometimes I need a second opinion, not sure if my approach is the best and should b

[2019-01-30 13:03] radu-themeisle commented on #35
Neve with sidebar renders ok, for Hestia we've included a condition to prevent calculating margins if sidebar exists.

ref: https://github.com/Codeinwp/hestia-pro/pull/2020

[2019-01-30 14:46] radu-themeisle opened #37 "FA icon picker case sensitive"
By accident I had caps lock on while typing the name of an icon and discovered that he icon picker is case sensitive and thus doesn't return anything: http://prntscr.com/meaj99

It would be good to make the input transform to lowercase to make it easy for users.

[2019-01-30 14:57] radu-themeisle commented on #20
- add responsive alignment for buttons: it would be good to be able to align buttons to left/right on desktop/tablet and center them on mobile

[2019-01-31 10:17] stefan-cotitosu opened #39 "Updating the plugin breaks blocks"
After updating the plugin to version 1.1.3 some blocks contain invalid content.
This is happening if you try to import the block. I didn't have it on a page, to test if the blocks keep working properly after updating the plugin.

<img width="1215" alt="neve-footer-error" src="https://user-images.githubusercontent.com/26867648/52047072-eb7d9c80-2550-11e9-8db5-4dea1e3d8eef.png">

I've tried both opt

[2019-01-31 10:24] rodica-andronache commented on #39
@HardeepAsrani when you have time, if you can share your feedback here it would be great 👍

[2019-01-31 10:39] HardeepAsrani commented on #39
Thanks. Which blocks are breaking? Which block is it in your screenshot?

[2019-01-31 10:40] HardeepAsrani commented on #39
You can click on resolve to see the code which will have the className that you can use to tell me the name of the block.

[2019-01-31 10:40] HardeepAsrani commented on #39
Or you can also attach the JSON of this template.

[2019-01-31 10:47] stefan-cotitosu commented on #39
Here is the HTML code after I clicked `Convert to HTML`

[code]

The broken section within the screenshot is Neve Footer.
<img width="401" alt="broken-section-ss" src="https://user-images.githubusercontent.com/26867648/52049245-fb4baf80-2555-11e9-9ac7-f4d7824f85e8.png">

Below is the json file.
https://github.com/stefan-cotitosu/neve/blob/development/gutenberg/blocks/footer/template.json

Thank yo

[2019-01-31 11:32] radu-themeisle commented on #39
I also experienced some issues with the FA icons block, but I managed to fix it by clicking "Resolve". Seems I was lucky...

[2019-01-31 13:15] rodica-andronache commented on #39
@stefan-cotitosu @HardeepAsrani from what I've tested I've seen this pattern:
1. when 'WooCommerce' and 'WooCommerce Blocks' are installed, none of the Otter blocks are accessible anymore https://prnt.sc/meqwjo
2. when 'Visualizer Lite' is installed, I got this error for most of the blocks https://prnt.sc/meqs0s

[2019-01-31 13:17] HardeepAsrani commented on #39
1. Yes, the first one was reported yesterday. Weird thing is that it’s inconsistent. It works for me locally but not on poopy. Same happens with the guy who reported it.

2. Will look into this, thanks. 😀

[2019-01-31 13:19] rodica-andronache commented on #39
yes, it's working without visualizer :) Thanks

[2019-01-31 21:32] HardeepAsrani commented on #36
Can't do anything about it. The theme should follow the same naming convention for the `font-awesome` naming. That won't cause any issues.

[2019-01-31 23:53] HardeepAsrani commented on #39
@radu-themeisle @stefan-cotitosu Can you check with Font Awesome Block issue? It should be fixed now.

@rodica-andronache For your two issues:

1. WooCommerce issue should be fixed. Now Otter should load, and WooCommerce Blocks shouldn't. 😄  It appears to be an issue on their side, I believe.

2. Can you check if Visualizer issue still happens? I wasn't able to reproduce it on my side.

[2019-01-31 23:56] HardeepAsrani commented on #35
@selul I'm not sure if we should change the templates for this as Templates are obviously not gonna look good with a sidebar, as they're supposed to be on alignWide or alignFull. What do you think @rodica-andronache @selul

[2019-02-01 06:07] radu-themeisle commented on #36
It will if you have a theme using a section with FA 4.7 icons. For example Hestia's Contact Section, we had this issue when we tried implementinng FA5 into it as some icons have completely different UTF-8 code or class name and the shivs file didn'thandle all the icons.

[2019-02-01 10:18] stefan-cotitosu commented on #39
@HardeepAsrani For me Font Awesome Block is working well in the latest version of the plugin.

It's not working in version 1.1.2 but I am not sure how relevant is this, as the idea is to have the latest version of the product. The only issue here would be if someone have an older version of Otter and the latest version of Neve which has the blocks in it.

[2019-02-01 11:18] stefan-cotitosu commented on #20
@HardeepAsrani Do you think we can add background color for Advanced Heading?

I am trying to build this card a little bit differently. Left card is the new version.
![new-pricing-card](https://user-images.githubusercontent.com/26867648/52119548-0ff57980-2622-11e9-826b-4e691e96ec45.png)

The current solution is to wrap the two headings in a section so I can add the background color on the section

[2019-02-01 11:53] rodica-andronache commented on #39
@HardeepAsrani the issue with WooCommerce Blocks is fixed for me too, but I still have the problem with Visualizer. Let me know if there is something I can do for this 👍

[2019-02-01 11:53] HardeepAsrani commented on #39
@stefan-cotitosu We can just ask them to update then, so not an issue. Just need to see what happens with @rodica-andronache

[2019-02-01 11:54] HardeepAsrani commented on #39
@rodica-andronache I've no idea what's causing them. I mean that particular block has nothing to do with any external library at all.

[2019-02-01 12:02] stefan-cotitosu opened #41 "Library preview and screenshot"
@HardeepAsrani I see there is a preview button on the block/template thumbnail in the library.
Nice change 👍

What should I do so that preview work for the blocks within the theme?
<img width="971" alt="otter-library-preview" src="https://user-images.githubusercontent.com/26867648/52121877-c01ab080-2629-11e9-8737-2efe5f8357dc.png">

Do you recommend a screenshot size for the thumbnail? I want to a

[2019-02-01 12:07] rodica-andronache commented on #39
@HardeepAsrani if you can't replicate it, you can check it here. It's only happening for the sections that have font awesome block from what I've seen
http://friendly-cheetah.w5.poopy.life/
user: hardeep
pass: bn8jDTs@PKwCSp&NwU6bE64V

[2019-02-01 12:12] HardeepAsrani commented on #41
@stefan-cotitosu This is a work in progress and was commited to github by default (because build process is pretty sick right now). Once ready, the previews will be generated automatically (if the current solution works out), so nothing needed to be done on your side for the preview to appear. :)

[2019-02-01 12:12] #41 closed

[2019-02-01 13:34] HardeepAsrani commented on #20
@stefan-cotitosu

1. It's not possible because heading will not have a background like that, it will have to be wrapped in a div which won't make sense, so best way is to wrap is around a column and hit backspace on the last paragraph. (I know it's not intuitive but that's Gutenberg :) )

2. This is indeed a bug which doesn't have an easy solution so far, given how weird the things are nested insi

[2019-02-01 13:41] stefan-cotitosu commented on #20
@HardeepAsrani Thanks for the update. Let me know if I can help you with centering the section content using flexbox or another approach. Maybe together we can deal with it. 🙂

[2019-02-01 13:50] HardeepAsrani commented on #20
I don't think another approach will be better, Flexbox seems to be the best way to do it. We can revisit this after 1.2 and fix this together. 😄

[2019-02-01 16:08] rodica-andronache commented on #35
yes, this was something related to the theme

[2019-02-01 17:52] ineagu opened #42 "scroll in scroll issue"
@HardeepAsrani when I import blocks on veganos theme I see this weird effect when a part of the blog is hidden somehow.

https://www.dropbox.com/s/ndg26yk2znkjdxd/Screenshot%202019-02-01%2017.49.31.png?dl=0

[2019-02-01 18:07] HardeepAsrani commented on #42
@ineagu Can't reproduce. I guess it's poopy.life. Can you try someplace else?

[2019-02-01 18:14] ineagu opened #43 "template directory as block"
@selul @HardeepAsrani I think it would be useful to have a direct access to templates under the +, so if I click the shortcode to add a new block, considering that I want block templates, I need now to do 2 actions, would love to have a block called section templates, when clicked it would directly open the popup to insert.

#suggestion

[2019-02-01 18:17] ineagu commented on #43
ok, can be enough, if you don't like the idea :D

[2019-02-01 18:19] HardeepAsrani commented on #43
@ineagu By the way, post suggestions under `otter-blocks` repo as I'm keeping `gutenberg-blocks` for just as issue tracker so I can see all the things to work on immediately while having discussions on this repo about things which needs discussion or aren't confirmed.

[2019-02-01 18:22] #43 closed

[2019-02-01 22:17] HardeepAsrani commented on #36
This shouldn't happen ideally but maybe this happen with Hestia. Regardless, we can't do anything to fix it. Theme will have to handle it from its end.

[2019-02-02 23:35] HardeepAsrani commented on #39
Not yet.

[2019-02-04 15:54] radu-themeisle opened #44 "Post Grid layout on tablet/mobile"
When viewing on tablet the columns have their width applied by Otter: http://prntscr.com/mgig2n
I believe the width should only be applied on desktop view in order to not interfere with the theme styling.

[2019-02-05 08:59] rodica-andronache commented on #19
@radu-themeisle let's try to have a release for Hestia with the blocks that are ready 👍  I had a quick look and I think there are still some things that can be done, to have the blocks are best as possible ( front-end/back-end ):
- big title block - the box shadow doesn't look ok. If there isn't possible making it like in the theme, we ca remove the box shadow at all https://prnt.sc/mgt1ok
- until

[2019-02-05 13:36] radu-themeisle opened #45 "Columns margin override section's column gap"
If I want to use column gap option the margin must not be set on the section's column.
I used backspace to get rid of the value from the margin input but when you view the page and come back to the editor the margin gets a default value of 20. If you update the page and view it you'll have margin top/bottom set to 20, and left/right set to the option from the section column gap.
If I set the colum

[2019-02-05 15:03] radu-themeisle commented on #19
@rodica-andronache I went through all your points. I remove Blog & Subscribe, now they are not ready to be released.
I fixed the screenshots, simplified some sections where I could and tested the rest of the blocks to make sure they are ready for release.
https://github.com/Codeinwp/hestia-pro/pull/2020

[2019-02-06 09:08] dascalescuro opened #46 "change the video in readme"
@HardeepAsrani I added the video on TI channel after downloading it from your channel: https://www.youtube.com/watch?v=d8fRY4Xa7Vc

could you please embed it on the readme file on wp.org page?

thanks

[2019-02-06 13:03] stefan-cotitosu commented on #20
@HardeepAsrani Can we add some options to the Post Grid block?

I've created a very simple blog section for Neve front page.
![image](https://user-images.githubusercontent.com/26867648/52342985-8bd73380-2a1f-11e9-98d7-0f2e889ff344.png)

Didn't use the post thumbnail because I find the image too big. I know that a control for the image size might lead to an image not aligned with the content (excer

[2019-02-07 04:02] HardeepAsrani commented on #20
@stefan-cotitosu Yes, we have planned on redoing it in 1.3, along side Google Maps block.

[2019-02-07 04:09] HardeepAsrani commented on #46
@dascalescuro Updated. Can you change video title to `Gutenberg Blocks and Template Library by Otter` instead?

[2019-02-07 04:10] HardeepAsrani commented on #46
And should I remove the one from my YouTube?

[2019-02-07 07:57] dascalescuro commented on #46
Title updated.

Your decision if you want to remove it. Thanks for making the change and for the video :)

[2019-02-07 08:29] stefan-cotitosu commented on #20
@HardeepAsrani Thanks. I guess this section will look better when this is done. For now I've finished it in a simple way 🙂

[2019-02-07 17:00] rodica-andronache commented on #19
We can close this, till there are more options in Otter/WP that will allow better control for what we need. Thanks for your work 👍

Just so we know, these are the blocks that didn't make it to the themes yet. Neve: Neve in detail & Newsletter. Hestia: Shop, Subscribe, Blog, Contact, Portfolio, Pricing

[2019-02-07 17:00] #19 closed

[2019-02-08 11:14] ineagu opened #47 "redo initial blocks templates design"
not a priority but we need to carefully choose 12-14 default block templates either based on some analogwp design, some other ui kit or design them from scratch.

They should look beautiful, cover the most important sections, be simple so can work for every website, avoid images.

[2019-02-09 01:06] HardeepAsrani commented on #47
@ineagu Which blocks, in particular, are you talking about?

Most blocks are made for Section, and only which are standalone with default styles are:

- Plugin Card (The best way would be to just make it as its own plugin as Plugin Card is probably be the least used block in Otter.)
- About Author
- Post Grid (Yes, this is planned already)

There is also Google Maps and Social Icons but I guess th

[2019-02-09 01:07] HardeepAsrani commented on #46
Just a note for myself: This issue is open as we haven't changed the links in Github which we need to do before we rerelease Otter.

[2019-02-09 01:57] HardeepAsrani opened #48 "Test Dynamic Column Resizer"
![resizer](https://user-images.githubusercontent.com/2649903/52514807-16e04580-2c3b-11e9-8210-bd68d4e4839d.gif)

We've added a Column Resizer which is inspired by Elementor. Since it's in Gutenberg, we need a lot of testing. I've so far not been able to break it but more eyes the better.

You can download it from here (make sure you're using VertiStudio account): https://drive.google.com/open?id=1

[2019-02-09 02:01] HardeepAsrani commented on #48
cc @ineagu

[2019-02-11 12:40] stefan-cotitosu opened #49 "Blocks fail when user doesn't have unfiltered_html capability"
Multi-site user can't use blocks from Otter if he/she isn't super admin.

The following situation is happening on our demo where I can manage just some of the sites. So my role is administrator not Super Admin.

1. Create a page, add a block from Otter and click publish/update.
This is the Big Title section from Neve demo, on front-end.
![image](https://user-images.githubusercontent.com/26867648/5

[2019-02-11 18:41] ineagu commented on #47
I am not talking about blocks here, but about the "block templates" which
are the designed parts ready to import :P

On Sat, Feb 9, 2019 at 1:06 AM Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-02-11 18:41] ineagu commented on #47
for elements at this point can be a bit overkill, let's stay as we are from
my perspective

On Mon, Feb 11, 2019 at 6:40 PM Ionut Neagu <hi@ionutn.com> wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-02-12 02:37] HardeepAsrani commented on #49
@stefan-cotitosu Thanks for the find. I'll take a look.

[2019-02-12 04:30] HardeepAsrani commented on #49
@stefan-cotitosu This issue happens on Multisite and on normal WordPress site too if the user doesn't have `unfiltered_html` capability, in multisite that is everyone but Super Admin, and in normal WP it's anyone below Editor level.

It's the same issue as https://github.com/WordPress/gutenberg/issues/2539

WordPress fixed it according to Gutenberg needs but I guess custom blocks will still have s

[2019-02-12 04:31] HardeepAsrani commented on #49
cc @ineagu @selul

[2019-02-12 05:34] HardeepAsrani commented on #35
@rodica-andronache Should we close this?

[2019-02-12 05:35] HardeepAsrani commented on #20
Closing this as it has become too long. All the relevant issues are noted in other places. If you've more issues/feature requests, make new issues so it's easy to track.

[2019-02-12 05:35] #20 closed

[2019-02-12 05:37] HardeepAsrani opened #50 "Add CSS package for 1.2"
Add CSS package before releasing 1.2 package.

[2019-02-12 08:51] rodica-andronache commented on #35
@HardeepAsrani I'm not sure, I would say no. From what I remember @radu-themeisle tried improving the default Otter blocks by using the 'Maximum Content Width' option instead of paddings (similar to Neve/Hestia's blocks), obtaining something like this https://prnt.sc/mjxvg8 instead of the current https://prnt.sc/mjxvv6 but for some reason, I don't know you reverted that.
What do you think? 💯

[2019-02-13 03:23] HardeepAsrani commented on #48
Any updates? @radu-themeisle @stefan-cotitosu 😄

[2019-02-13 03:24] HardeepAsrani commented on #49
I've sent a zip to @stefan-cotitosu for testing.

[2019-02-13 03:32] HardeepAsrani commented on #35
@rodica-andronache Yes, it was reverted because that's an issue with how Hestia handles sidebar and modifying templates for it isn't the best solution. This might cause some other issues with different themes, so we're just pausing this problem for some other time.

I think issues like this can be solved by having a Full Page Template for Gutenberg, as we've done for Elemento templates. What do yo

[2019-02-13 08:16] stefan-cotitosu commented on #49
@HardeepAsrani I've tried using the blocks (Neve & Otter both from org) with a non-administrator user. When you click the library button in the section block, the templates are not loaded.

The issue is fixed in the zip that you sent to me. Not sure where the code is on Github. Hope that the right code will be released even if we tested using a zip now. There is something weird regarding the backg

[2019-02-13 09:10] HardeepAsrani commented on #49
@stefan-cotitosu The code is in github but for that you'll have to change few things and do composer install, so I just send the zip so you don't have to do all that and can just test quickly without a big setup. Closing this as it's fixed.

[2019-02-13 09:10] #49 closed

[2019-02-13 09:41] stefan-cotitosu commented on #48
@HardeepAsrani I've tested it with Neve blocks and tried to create a new one. It works fine, it's a little bit confusing for me that it doesn't work on tablet too.

I've notice that the resizer appears only the right side of the column. So if I have a two columns layout and want to use the resizer, I have to click on the left one to see it.

Is there any input where you can type the columns width

[2019-02-13 09:46] HardeepAsrani commented on #48
@stefan-cotitosu Thanks for taking a look.

1. Yes, it's only for desktop now, just like all other page builders.

2. Good point, we can fix this.

3. No, there's no option to type it so far. In the beginning, I didn't add it because I was little frustrated with this feature, but by the end, I didn't add it like no other page builder add manually typed width. What do you think @selul?

[2019-02-13 09:47] HardeepAsrani commented on #48
@stefan-cotitosu Apart from the noted down points, is it working just fine for you?

[2019-02-13 10:53] stefan-cotitosu commented on #48
@HardeepAsrani Yes, I even tried to create a page with Otter 1.1.4 then update the plugin and everything was ok.

[2019-02-14 04:19] HardeepAsrani commented on #48
I'll leave it open for @radu-themeisle to also test

[2019-02-14 05:06] HardeepAsrani opened #51 "Help in reproducing issue with Jetpack"
A couple of users reported an issue with Otter not working with Jetpack installed: https://wordpress.org/support/topic/the-editor-has-encountered-an-unexpected-error-attempt-recovery-copy-post-text/#post-11204210

Can someone help me in reproducing this issue? I've tried hard and wasn't able to reproduce. :(

[2019-02-23 13:41] #14 closed

[2019-02-25 13:01] rodica-andronache commented on #35
@HardeepAsrani I know the best way would be to use a full-width template, but I was just thinking that this solution could help when adding the blocks on any default page from any theme that uses sidebars.
https://prnt.sc/mpu3pr
https://prnt.sc/mpu3wx
https://prnt.sc/mpu43a
https://prnt.sc/mpu4a8
this doesn't seem to be related to how Hestia is handling the sidebars, as it's the same on any other

[2019-02-26 19:40] ineagu opened #52 "Otter performace review"
@HardeepAsrani @selul

1. I am not sure what is going on but when an Otter section block is imported on a page ( features section for e.g or Neve header area ) the gutenberg get's too slow, I was editing starter sites built with UAGG and experience was ok, I think we should debug this.

2. It seems to be that adding a dotted border as we discussed before for sections/columns add a better exp: http

[2019-02-27 09:53] radu-themeisle commented on #48
Work and looks pretty good, great job @HardeepAsrani!

My only suggestions/ideas are:

1. Make the columns resize in 1% steps instead of 0.01%. This is something that also annoys me in Elementor when I drag & drop the column size as I never manage to get an integer value (like 27-63 ratio), it's always with decimals and apart from wasting time to get the correct value I don't see the point in havi

[2019-02-28 06:38] HardeepAsrani commented on #48
@radu-themeisle

1. Alright, we can do that.

2. That's why I recommended Wide Alignment to try it out. The child elements add stuff and padding/editor/theme styles which make it this way and we can't do anything about it. :)

[2019-02-28 16:23] HardeepAsrani commented on #35
@selul @radu-themeisle @rodica-andronache Entirely your call on this as I'm not great at building templates (a get a bit obsessive with things being even 😞  ). If you think this is the best option then I can revert Radu's changes and we can test and merge.

Also, if we're taking this approach then it will be great for Radu to write small instructions on the basic layout so we can follow the same f

[2019-03-01 21:34] HardeepAsrani commented on #52
@ineagu I wasn't able to see any slowness. UAGG templates are very minimal and not much nested so maybe that's why?

While our templates are complex and nested, while they use inflexible static blocks. But for me, there was no delay.

Maybe @selul can also try?

2. Second one is a bit complex. It looks bad but we can try something similar to CoBlocks as their borders look nice.

[2019-03-01 21:36] HardeepAsrani commented on #51
@radu-themeisle Can you try this? I guess this isn't an issue but maybe someone can double check with me so we could close this. 😄

[2019-03-01 22:39] HardeepAsrani opened #53 "Test Otter 1.1.5 Version"
This one is a little urgent as we've fixed some horrible bugs in 1.1.5 which can affect many users, so please put this in your priority while testing. I've tested from my side but you guys are amazing at finding ways to break Otter which is exactly what we need.

As a reminder, please make a site with the current version of Otter and add few templates and blocks in few pages so you can test with n

[2019-03-03 00:57] HardeepAsrani commented on #45
Duplicate https://github.com/Codeinwp/gutenberg-blocks/issues/53

[2019-03-03 00:57] #45 closed

[2019-03-03 00:58] #42 closed

[2019-03-03 01:01] HardeepAsrani commented on #44
Will be fixed as a part of https://github.com/Codeinwp/gutenberg-blocks/issues/76

[2019-03-03 01:01] #44 closed

[2019-03-04 08:20] radu-themeisle commented on #51
I teste in Local and had no issue using Otter & Jetpack, everything works fine.

[2019-03-04 08:58] rodica-andronache commented on #35
@selul what do you think? :)

[2019-03-04 09:00] radu-themeisle commented on #53
- Current Button Group crashed after update, I'm using Local, but this happened on all the pages using that block http://prntscr.com/mswt1h
http://prntscr.com/mswtmh
http://prntscr.com/mswu2y

If I add now a Button Group there are no issues: http://prntscr.com/mswv2w

- Font Awesome links: using "#" to simulate a link doesn't work. A use case for it would be linking in the same page to the ID of a

[2019-03-04 09:14] selul commented on #35
@rodica-andronache yes I agree with Hardeep. I think we should aim to have a full-width page template for Gutenberg, similar to how we have with Elementor not tweak otter to work with sidebar pages.

as a sidenote, this is how it looks on 2019 theme with Elementor a similar section http://prntscr.com/msx5ws

[2019-03-04 11:23] ineagu commented on #35
but even if we would have a full-width template, this won't solve the negative margin issue right?

[2019-03-04 15:38] rodica-andronache commented on #35
ok, I personally don't understand why making these changes would be considered tweaks, I was thinking that's how the blocks should be built, but if that's the case, I guess we can close this 👍

[2019-03-04 17:42] ineagu commented on #35
I think we can break this in 2 issues @rodica-andronache to avoid getting all confused:

1. There is a problem in Hestia which makes the blocks override sidebar and need to be addressed in Hestia, not only for Otter but for Gutenberg or any other builder/plugin

2. There is a problem in how the current Otter blocks are built,  appears to use fixed padding which doesn't adapt based on the container

[2019-03-04 17:42] #35 closed

[2019-03-04 20:18] HardeepAsrani commented on #51
Thanks @radu-themeisle!

[2019-03-04 20:18] #51 closed

[2019-03-04 21:39] HardeepAsrani commented on #53
You'll find it here:

![mar-05-2019 03-08-59](https://user-images.githubusercontent.com/2649903/53764724-106c8300-3ef4-11e9-8a85-a4752c2ab769.gif)

@radu-themeisle

[2019-03-04 21:53] HardeepAsrani commented on #53
Also, do we need an option to open links in new page for Icons? @radu-themeisle

[2019-03-04 22:33] HardeepAsrani commented on #53
@radu-themeisle I'm not able to get my previous Buttons to fail with the new version. Can you make a site here that you used for local setup with the current version here: http://jurassic.ninja/

I'll try to install the latest version and see if it breaks.

Once @stefan-cotitosu tests then it will be easier to reproduce.

[2019-03-04 22:35] HardeepAsrani commented on #53
Also, in your local version, can you try to reproduce it with Twenty Nineteen too?

[2019-03-05 00:50] HardeepAsrani commented on #53
New link with fixes: https://drive.google.com/file/d/1W4u8xlgQm6F6A-_rHIYWo13ImdvUNvNp/view?usp=sharing @radu-themeisle

Few notes:

- Try to see the issue with 5.0, like you did this time, and then 5.1
- Options won't be available in 5.0

Here's how you can change WP versions back and forth: https://wordpress.org/plugins/wp-downgrade/

Let me know how it goes. :)

[2019-03-05 00:54] HardeepAsrani commented on #53
PS: Thanks for the review and help in figuring out the issue with 5.0 as that's a big one.

[2019-03-05 02:28] HardeepAsrani commented on #28
@selul Can we get this designed?

[2019-03-05 18:17] stefan-cotitosu commented on #53
Looks nice, I like the Template Library enhancements (Author, Templates Coming Soon, no more preview button). I tried it from iPad and mobile and looks good 👍

- Advanced Heading alignment works differently when editing the page from iPad;
I've added an Advanced Heading block, and set the center alignment for Desktop only (left unset for mobile devices). If I check the page from iPad or mobile, th

[2019-03-06 12:22] ineagu opened #57 "Block Ideas"
@HardeepAsrani this can be ignored, just noted down here some things on which we can look at some point in case we wanna explore a multiple blocks solution :

1. Ads block
2. Stripe,Paypal (payment) & MailChimp blocks ( newsletter )
3. Nivo Slider block (free)

[2019-03-07 14:05] abaicus opened #54 "Button Group block invalid after save"
@HardeepAsrani

WordPress automatically adds `rel="noopener noreferrer"` to links upon post save.

I've managed to avoid this by stripping the `rel` attributes from content upon importing in the onboarding. This way at first sight everything looks ok after the import. However, after save and refresh, the block markup is invalidated and this renders an invalid markup for the button group block.

A

[2019-03-07 14:08] abaicus commented on #54
After reading a bit more on the issue, I understand that this is really bad for SEO and used to avoid **Reverse Tabnabbing** - open a link in a new tab and redirect the previous tab to something else.

Maybe @ineagu and @dascalescuro have an idea about how this affects SEO more in depth.

[2019-03-07 14:22] HardeepAsrani commented on #54
@abaicus This was added to gutenberg in WP 5.1, and we’ve already fixed it in development. 😀

[2019-03-07 14:31] rodica-andronache commented on #54
@HardeepAsrani do you have this planned for a specific release? :) We wanted to add the Gutenberg starter site in Neve, and we would need this for it

[2019-03-07 14:32] HardeepAsrani commented on #54
Very soon, perhaps by Monday. Just being tested heavily just to make sure we don’t break anything.

I’m not sure if there are any SEO a disadvantages of that rel tag so I’ve left it there by default. If there are any, then let me know and we can fix that in future.

[2019-03-07 14:34] ineagu commented on #54
avoiding those tags is more of a security issue as far as I know, nothing to do with SEO

[2019-03-07 21:06] HardeepAsrani commented on #53
The alignment is based on the device you're using. If you use a mobile, it will show you the alignment of the mobile. If I'm misunderstanding the issue then can you explain with a video (with voice)?

Yea, just JavaScript rounding the numbers. 😄

Theme styles. Can't do much about it now.

It's sharing icons so we can't replace with Instagram. But as you suggested, we might have to remove Google Pl

[2019-03-08 09:34] radu-themeisle commented on #53
Button Group:
- Rolling back to 1.1.4 invalidates them: http://prntscr.com/muz5pr
- Downgrading WP from 5.1 to 5.0 also invalidates them: http://prntscr.com/muz7u8
- WP 5.0 + update to Otter 1.1.5 works fine ✔

Font Awesome:
- It didn't crash on updating to 1.1.5 but it does give a validation warning in the console in the editor (on the front end there are no warnings): http://prntscr.com/muzcj8
-

[2019-03-08 20:23] HardeepAsrani commented on #53
@radu-themeisle Thanks. Just for future ref, every time a block validates, even if successfully, Gutenberg shows the invalidation in the console, so it's not always an error but an indicator of the block being deprecated successfully.

[2019-03-08 21:26] #46 closed

[2019-03-08 21:26] #39 closed

[2019-03-08 21:26] #53 closed

[2019-03-08 21:44] HardeepAsrani commented on #54
@abaicus It's fixed in 1.1.5 version. 😄

[2019-03-08 21:44] #54 closed

[2019-03-08 21:46] HardeepAsrani commented on #36
@rodica-andronache How do you want to solve it? Do you want me to take a look and see how we can work with the FA 5, or just provide a way to unhook FA5 for our themes?

[2019-03-08 22:30] HardeepAsrani commented on #52
We've added the Section Border. For the slowness, can you try and see if it happens for you @selul?

[2019-03-09 13:15] ineagu opened #58 "section as default block for pages"
@HardeepAsrani I am not sure if the current implementation is helpful for what I had in mind, here is what makes more sense for me 👍

1. Show the section by default on pages, along with a x button, which on-click hide the section
2. If you wanna be less annoying, after the user do this 3 times, we can ask them on 3rd x click if they wanna remove the section block as default block on pages.

We get

[2019-03-09 13:23] ineagu commented on #48
I personally think we can go with a much lighter approach here, get rid of the default delimitators you show now and display a simple line along with resize icon only when the user hover the line between columns, it isn't such a used feature I believe to display those by default ( check squarespace )

[2019-03-09 13:36] ineagu opened #59 "block template inserter"
@HardeepAsrani for the template directory popup you have added the insert button on hover while clicking on image itself does nothing, I believe keeping the same logic wp has in theme repo, show a insert button on hovering over the templates/block and insert it on click is more helpful and intuitive vs looking the insert button only.

[2019-03-09 13:41] ineagu commented on #52
might be just an issue with gutenberg overall when page is too complex?
Easy way to replicate is to create a new page with otter/neve, import neve
related section to build the homepage, try to click around and edit text
and see how scroll/click feels

On Fri, Mar 8, 2019 at 10:30 PM Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http:/

[2019-03-09 22:08] HardeepAsrani commented on #59
@ineagu I agree it has a lot of negative space in there which serves no purpose. What do you think should be there when you hover over the image?

[2019-03-09 22:09] HardeepAsrani commented on #58
@ineagu The current implementation is just an early shipped feature as we had to release this version quickly to fix some major releases. The 2.0 will have an inboarding and welcome page that will handle all of this in the admin panel.

[2019-03-09 22:19] HardeepAsrani commented on #48
It took me a long time to figure out how to do this in Square Space: https://www.useloom.com/share/7dc7a166b19045b2bfaa9eeb952d08f6 😄 - not sure if this is any better since it's completely invisible, similar to how Beaver does this.

Is this what you're talking about?

[2019-03-09 23:08] ineagu commented on #48
Yes. I agree, but do you imagine yourself really dragging those around too much? Or let’s say you wanna try or look for it, would you find it? For me current solution clutters a bit. Is like clients worried about how website look when browser window get resized.

[2019-03-09 23:08] ineagu commented on #59
Easiest thing, show a Insert button on hover, same ui when browsing themes

[2019-03-09 23:18] HardeepAsrani commented on #48
We can show this blue point for dragging only when the user has hovered over the middle of two columns. What do you think? This removes the clutter.

<img width="705" alt="Screen Shot 2019-03-10 at 4 45 51 AM" src="https://user-images.githubusercontent.com/2649903/54078529-9a9b5980-42ef-11e9-8969-a314ec8aeb61.png">

[2019-03-09 23:20] ineagu commented on #48
Better :)

[2019-03-09 23:22] HardeepAsrani commented on #59
@ineagu The Theme shows "More Info" on hover. Right now we follow the same UI as Theme Directory. It shows the Insert button hover, and Image has nothing on hover as we don't have anything for it.

Just to remove the confusion from here: here are both of the UIs. Now you can name the area you're talking about. Not sure if we both are talking about the same things. 😄

Template Library of Otter:

![

[2019-03-09 23:38] ineagu commented on #59
My idea was to also show the Insert button as wp core shows the Theme Details on hover. Not sure if is good or there are alternatives

[2019-03-09 23:40] HardeepAsrani commented on #59
This layout gives me feeling on a popup. So user would expect something of a popup from the Template Library, as everyone is familiar with the Theme Directory UI.

It shouldn't be empty and should have something there but right now we don't have anything to add. And having Insert button on two places isn't ideal. I guess for full page templates we can add a similar popup as WordPress Theme Directo

[2019-03-10 00:01] ineagu commented on #59
maybe?
https://www.dropbox.com/s/7w8s5wj8kaiuive/Screenshot%202019-03-10%2000.01.09.png?dl=0

On Sat, Mar 9, 2019 at 11:40 PM Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-03-10 00:04] HardeepAsrani commented on #59
@ineagu That's how it looked in the last version. We changed it because we needed Demo link + Theme team wanted a way to let users know the templates are being added by Neve/Hestia, plus it's more familiar than not. I guess we will get the real picture once we start adding full-page templates. Then we will figure out the features we need and the features we don't need and then can make more inform

[2019-03-10 00:11] HardeepAsrani opened #60 "Google Map or Map Block?"
@ineagu Should we rename Google Map block to Map block or keep the current name?

[2019-03-10 10:37] ineagu commented on #60
I think we are fine with current one for me

[2019-03-10 11:44] selul commented on #58
@HardeepAsrani I'm not sure what @ineagu's reply has to do with the welcome page or onboarding. We can do those indifferent of what will provide the 2.0 release.

[2019-03-10 15:38] cosmin-serbanescu opened #61 "separator overriding other elements"
http://prntscr.com/mvwww9
probably just a z-index issue @HardeepAsrani

[2019-03-10 23:19] HardeepAsrani commented on #58
Sorry, I meant 1.2, not 2.0. @selul

[2019-03-10 23:19] #60 closed

[2019-03-10 23:20] HardeepAsrani commented on #61
I don't understand. Can you please explain? 😄

[2019-03-11 07:50] cosmin-serbanescu commented on #61
the blue columns separator is overriding the other elements from the editor, normally it should stay within the section itself, right?

[2019-03-12 10:59] ineagu opened #65 "Don't load scripts everywhere"
@HardeepAsrani I see those on Neve demo : https://www.dropbox.com/s/op7euubvp4p7nv5/Screenshot%202019-03-12%2010.58.16.png?dl=0 and I guess we aren't using any gutenberg stuff there.

[2019-03-12 22:12] HardeepAsrani opened #62 "Only load templates on latest version"
Because we will be added and updating templates to fix bugs, I was thinking we should limit the importing of new templates if the user is using an older version of Otter.

If you're using an older version, once you click on Import button you will get a message saying you need to use the latest version of Otter to use Template Library. It will give users an option to Abort the action and update, an

[2019-03-12 22:38] ineagu commented on #62
Makes sense for me

[2019-03-13 07:15] selul commented on #62
Yes, let's do it

[2019-03-18 14:48] rodica-andronache opened #63 "Add HTML Anchor to the Advanced Heading block"
https://prnt.sc/mzj1ij
Noticed the default Heading has an HTML Anchor property, which I think it would be useful for the Advanced Heading block too, as there isn't any way of adding anchors, as far as I know. 👍

[2019-03-19 09:06] HardeepAsrani opened #66 "Generate translation files"
Ref: https://www.npmjs.com/package/@wordpress/babel-plugin-makepot

[2019-03-26 00:27] HardeepAsrani commented on #63
We already generate a unique ID for each heading and section block. Is it fine or do you want it to be visible so people can easily use it?

[2019-03-26 00:28] HardeepAsrani opened #64 "Post Grid or Post List?"
Not sure if "Post Grid" is the perfect name for our post block because it's not just grid.

Should we rename it to Post List or something else? Stupid question, I know.

@radu-themeisle @ineagu

[2019-03-26 08:54] ineagu commented on #64
Also why just posts? :)) no idea about the name : query block?

[2019-03-26 09:40] radu-themeisle commented on #64
@ineagu "query block" is too generic and people won't understand what the block does and they'll get confused.
@HardeepAsrani Neither grid nor list is the perfect name but I think a list can be considered a 1 column grid 😃. My idea is to just call it "Posts" as core blocks have simple, short names, or make 2 separate blocks with 1 functionality: Posts Grid and Posts List (I'm not really a fan of t

[2019-03-26 09:50] rodica-andronache commented on #63
I think it would be useful to have something that can be customized by the user, not a generated ID.

[2019-03-26 10:17] radu-themeisle commented on #63
@HardeepAsrani if they migrate the content to a different post (or even a site) will the unique IDs remain? But anyway, I agree with @rodica-andronache they should be able to choose their ID names (like contact, about, testimonials etc.)
I usually look at the link before clicking it and would be very suspicious if I would see an "unfriendly" name 🙂

[2019-03-26 21:51] HardeepAsrani commented on #63
Not an issue, we have an auto-generated one which is required for front-end CSS but we can have a field where user can change the default ID to a custom one. Is that fine?

[2019-03-26 21:54] HardeepAsrani commented on #64
I don't like having two blocks as we already have this functionality. Also if we add another design, then we want to have all in one.

I do like `Post Query Block`, or `Posts Grid/List Block` - query alone is not suggestive. Let me know if it seems better? @radu-themeisle @ineagu

[2019-03-26 22:03] ineagu commented on #64
honestly I like : Posts, like radu suggested best

On Tue, Mar 26, 2019 at 9:54 PM Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-03-26 22:04] HardeepAsrani commented on #64
Then `Posts` it is. 🎉

[2019-03-26 22:04] #64 closed

[2019-03-26 22:07] HardeepAsrani commented on #63
By the way... we want it in Section or Heading?

[2019-03-27 08:22] rodica-andronache commented on #63
I guess Section would be better :)

[2019-03-29 23:49] HardeepAsrani opened #67 "Add version constant"
We need to have a version constant in the Otter so we can use it to check for the current version of the plugin.

[2019-03-29 23:50] #67 closed

[2019-04-01 21:31] HardeepAsrani commented on #59
Closing for now.

[2019-04-01 21:31] #59 closed

[2019-04-01 21:58] HardeepAsrani commented on #48
Here's how it will be now.

![Apr-02-2019 03-25-00](https://user-images.githubusercontent.com/2649903/55362295-2d967080-54f7-11e9-9236-e6a3c6f710e0.gif)

[2019-04-01 21:58] HardeepAsrani commented on #48
@ineagu

[2019-04-01 21:58] #48 closed

[2019-04-01 21:59] HardeepAsrani commented on #58
Part of: https://github.com/Codeinwp/otter-blocks/issues/28

[2019-04-01 21:59] #58 closed

[2019-04-01 22:51] ineagu commented on #48
Great

[2019-04-01 22:54] HardeepAsrani commented on #61
Fixed in https://github.com/HardeepAsrani/gutenberg-blocks/commit/e822e1a4dcb262f730ecfc99fd0f8c3224fef350

[2019-04-01 22:54] #61 closed

[2019-04-01 22:55] HardeepAsrani commented on #52
@radu-themeisle Can you see the performance issue?

[2019-04-02 18:23] #65 closed

[2019-04-03 01:41] HardeepAsrani commented on #50
Closed as part of https://github.com/HardeepAsrani/otter-blocks/commit/7d3ba5d133bb23f26fc6b3be71bddd0d208c39f8

[2019-04-03 01:41] #50 closed

[2019-04-03 01:42] HardeepAsrani commented on #47
Will be a part of https://github.com/Codeinwp/gutenberg-blocks/issues/39

[2019-04-03 01:42] #47 closed

[2019-04-05 07:47] rodica-andronache opened #68 "Block animations"
@HardeepAsrani someone mentioned here https://wordpress.org/support/topic/why-we-dont-have-the-motion-effect-in-gutenburg-demo-data/ that we are not replicating the animations we have on the main demo, in the Gutenberg one.
Do you know if we'd add something like this in Otter? Or we should use https://wordpress.org/plugins/block-animation/? What do you think? 💯

[2019-04-05 07:49] HardeepAsrani commented on #68
@selul @ineagu If this is needed we can add it.

[2019-04-10 13:10] rodica-andronache commented on #68
@selul what do you think here? Would be something to consider in the future?

[2019-04-10 13:39] mjza commented on #68
Hi @rodica-andronache . Thanks for making this issue. It would be great if you add the motion effect to the Gutenburg demo content also. I expected to see the beautiful motion that you have it in demo website in your Gutenburg demo also. Hope to write here or in the ticket when you add it. Thanks

[2019-04-10 13:46] mjza opened #69 "Please add YouTube and Instagram Icons in Sharing block"
In your sharing block I cannot find the YouTube and Instagram icons. Could you please add them?

[2019-04-14 12:39] HardeepAsrani commented on #69
@mjza It's sharing icons so you can't really share links to Instagram. It's not "Follow" icons but "Share this page on your XYZ."

Let me know if that sounds right, or if I'm missing something? 😄

[2019-04-14 12:40] #28 closed

[2019-04-14 13:05] HardeepAsrani opened #70 "Test 2.0.0"
We have a new release which we will push as soon as this testing completed. Once again, Otter General @radu-themeisle and @stefan-cotitosu, I need your help.

As always, I made a video to show you the major features so you can understand better.

Download Link: https://drive.google.com/file/d/1Waa9xpP-E3kxEZ1ITf113FsgMkjZ21ke/view?usp=sharing

Video Guide: https://www.loom.com/share/68f79eba7a2e4f

[2019-04-14 19:18] mjza commented on #69
@HardeepAsrani Hi. Yes you are right. I missed up with following link. Thanks.

[2019-04-14 19:18] #69 closed

[2019-04-14 19:53] HardeepAsrani commented on #69
@mjza Happens. I've received this same request from many of my colleagues too. 😄

[2019-04-15 14:43] radu-themeisle commented on #70
- **Onboarding prompt**: http://prntscr.com/nc6w80
What I believe can be improved: Black background overlay (like the one after the prompt when you have the tips), center the box, buttons and text, add Otter logo to title. Here's a sketch: https://www.dropbox.com/s/87s6dewnqawrl9v/Otter-welcome.jpg?dl=0
Make borders round, like the ones from the next steps: http://prntscr.com/nc7fja (I'd also make

[2019-04-16 12:57] radu-themeisle commented on #70
- **Test Google Map Block**:
Custom CSS doesn't work: [before](http://prntscr.com/ncl9tp), [front](http://prntscr.com/ncl9bu), [after](http://prntscr.com/ncl9kk)
Check if this class is added or is it from jurassic.ninja: http://prntscr.com/nclmfc
Updating from the current version works fine.

- **Test Post Grid Block**
Custom CSS doesn't work: [before](http://prntscr.com/ncm0hp), [front](http://pr

[2019-04-17 23:00] #70 closed

[2019-04-17 23:00] #29 closed

[2019-04-19 12:31] rodica-andronache commented on #36
@HardeepAsrani using v4 shims doesn't help?

[2019-04-20 00:00] HardeepAsrani commented on #36
@rodica-andronache I'm gonna be honest and say I'm very confused about what's happening with FA and so many versions and shims. 😄

[2019-04-20 22:50] HardeepAsrani opened #74 "Fix changelog"
Some inconsistencies that need to be fixed.

[2019-04-22 08:41] rodica-andronache commented on #36
@HardeepAsrani I'm not very good at this either :D I was thinking that these shim files would do the work https://github.com/Codeinwp/hestia-pro/tree/v2.0.17/assets/font-awesome/css Maybe @radu-themeisle can help more? 💃

[2019-04-22 10:17] radu-themeisle commented on #36
You can't have FA4 and FA5 in the same time.
The shims CSS file is just a tool to help transition to the new version and it's not recommended by FA for long-term use.
The biggest issue is that FA5 uses different font-family(ies) than FA4 and also changed some UTF-8 codes for some icons and there's no match with the old, FA4, codes.
My best bet, if you really, really still want to go head with impl

[2019-04-22 21:31] HardeepAsrani commented on #68
@rodica-andronache @mjza I had a meeting with Marius about this and we've decided on adding it to the next version of Otter.

- While I like https://wordpress.org/plugins/block-animation/ - it's not the best approach for us.

- Adding animation controls to every block will take time and will be a maintenance nightmare for us.

- Sooooo, we've decided to make an extension, similar to Blocks CSS, wh

[2019-04-24 10:17] radu-themeisle commented on #52
@HardeepAsrani On the front end everything looks fine, but in the editor I see some lagging when trying to edit the text. I made a video, let me know if you need extra details for some actions that I did (e.g. when typing something there's a 1-2 sec lag): https://www.loom.com/share/d9f11ca7d1ee41ccb5e834eb1e6a1094

[2019-04-24 11:31] radu-themeisle commented on #52
It also might be an issue with the Editor, once I add 5 sections with Neve sections from the template library I start to notice some lag.
I also played around with UAG and noticed a slight lag when editing (not as evident as with Neve) but even though I duplicated a section 6 times to try and see if the lag increases it didn't, but still had just a little lag.

[2019-04-24 20:45] HardeepAsrani commented on #52
@radu-themeisle I really think the nested nature of sections is the reason + resizers. I'm thinking of removing padding resizer from Section. People can do that straight from sidebar maybe.

[2019-05-01 04:42] HardeepAsrani opened #75 "Add Blocks Animation package"
https://github.com/Codeinwp/gutenberg-animation/

[2019-05-01 05:23] #75 closed

[2019-05-01 05:23] #74 closed

[2019-05-01 06:14] HardeepAsrani commented on #57
@ineagu Just putting out there for future reference: we can probably turn Section into a Slider, like this:

![Slider](https://user-images.githubusercontent.com/2649903/57007450-5ef18180-6c06-11e9-838e-98807735873b.gif)

[2019-05-10 07:40] cosmin-serbanescu opened #79 "Container issue"
On WP 5.2, otterblocks 1.2.2 I have this container issue: https://prnt.sc/nmpqxn due to this thing here: https://prnt.sc/nmpr9h
It was working fine on the previous version of WP - expanding to full width.

cc @HardeepAsrani

[2019-05-10 20:44] HardeepAsrani commented on #79
@cosmin-serbanescu What's the issue there? I don't understand.

Is it working fine on https://jurassic.ninja/create/?

[2019-05-13 07:31] cosmin-serbanescu commented on #79
on WP 5.1.1 the Gutenberg editor was expanding to 100%, in 5.2 apparently it's being restricted by that width set to 610px

[2019-05-13 10:51] HardeepAsrani commented on #79
@cosmin-serbanescu Which theme are you using?

[2019-05-13 10:52] cosmin-serbanescu commented on #79
Neve

[2019-05-13 11:48] HardeepAsrani commented on #79
@cosmin-serbanescu It works just fine for me: https://www.loom.com/share/3d82fb10ad314befb973f79bfc017198

[2019-05-13 11:50] cosmin-serbanescu commented on #79
probably it's smth on my side then... I'll be back, leave this one open please

[2019-05-21 02:59] HardeepAsrani opened #553 "Accesibility Audit"
I want to do an accessibility audit of Otter and find the issues with it and then fix them. It's better to think of accessibility of the plugin from the beginning so we don't have to "hack" things into it later.

If we do it now:

- The code will be better
- Will be really helpful to people suffering disabilities
- A good way to promote
- I will also learn about a11y which will help us in the futu

[2019-05-24 14:11] cosmin-serbanescu opened #80 "Paddings/Margins issue with v1.2.2"
It seems there's a bug in this version, tested with a section and if I set paddings/margins it applies them correctly when updating (both front and backend) but if somehow I refresh the page, the values are reset to their default ones

cc @HardeepAsrani

[2019-05-24 23:27] HardeepAsrani commented on #80
@cosmin-serbanescu It's a known issue and will be fixed by the end of the hour: https://github.com/Codeinwp/gutenberg-blocks/issues/110

[2019-05-24 23:27] #80 closed

[2019-07-08 22:28] HardeepAsrani commented on #79
@cosmin-serbanescu Any updates?

[2019-07-10 12:45] cristian-ungureanu opened #82 "Font Awesome not loading when using the block in Custom Layouts in Neve"
We had this issue with the template import from Otter and the solution was to use in neve  `render_server_side_css` function: https://github.com/Codeinwp/gutenberg-blocks/blob/139be1219a8c2bd581875253f363c4c085f86b6c/class-gutenberg-blocks.php#L449 .

Maybe load FontAwesome in this function too?

[2019-07-10 13:31] cristian-ungureanu commented on #82
Fixed in neve pro https://github.com/Codeinwp/neve-pro-addon/pull/231

[2019-07-10 13:31] #82 closed

[2019-07-16 11:53] #79 closed

[2019-07-16 11:54] HardeepAsrani opened #83 "Update screenshots"
Screenshots are pretty boring and we can have more attractive screenshots, such as:

- Template Library
- Map Block
- Posts Block

These can be GIFs to make it look better.

[2019-07-17 10:03] ineagu commented on #52
@HardeepAsrani probably is worth rethinking this and looking for a solution considering the latest gutenberg version ( with columns) and see what can otter bring ( with a decent performance for site building )

[2019-07-17 10:13] HardeepAsrani commented on #52
@ineagu Yea, I've thought about it. In the coming updates, the focus is on two things:

- performance updates with lazy loading and code splitting, as well as a11y review
- more focus on page building experience with a larger library of designs

Would have been a good time to repurpose old themes to make their homepage with Otter. :)

[2019-07-17 10:16] ineagu commented on #52
yep, we'll need to redo whole site library for neve in gutenberg as well, seems like it got at the right adoption point, just that the performance and heavy development were sort of blockers, now since we got a better idea and if we can improve the performance either based on the way we build or plugin itself, we would definitively move forward with more sites.

[2019-07-17 10:18] HardeepAsrani commented on #52
@ineagu Which performance are you talking about? For working with it in Gutenberg, it's the same speed as any other blocks for Gutenberg as all of them are using similar code. At least that's the case in my using it.

Will be good to have @selul take a look and compare Otter's performance in Gutenberg with a third-party block library.

[2019-07-17 10:23] ineagu commented on #52
I mean if you import Neve starter site or look at landing pages we built on themeisle.com, they are almost unusable on some computers.

I am not sure if is the nesting, otter or some from gutenberg itself, is just sure that long pages of text blocks are working just fine.

[2019-07-18 08:40] HardeepAsrani commented on #52
@ineagu I don't understand what you mean there. Can you explain?

Are you talking about Gutenberg's Starter sites that we built?

Maybe @cosmin-serbanescu can try to do some testing with other Gutenberg builders and see if it's a unique issue or a Gutenberg being slow issue?

[2019-07-18 10:54] ineagu commented on #52
this is a great idea, to create same page with otter / uagg or other plugins and see if there are issues or at least identify a way to build decent looking landing pages without killing the performance on normal computers ( not sure fast)

[2019-07-31 21:48] HardeepAsrani opened #86 "Extra props passed to dynamic blocks causing it to break"
As reported here: https://wordpress.org/support/topic/causing-other-blocks-to-not-load-in-editor/#post-11787370

We need to fix this in composer packages, which are:

- https://github.com/Codeinwp/gutenberg-animation/
- https://github.com/Codeinwp/blocks-css/

[2019-08-22 13:18] #83 closed

[2019-08-26 14:58] selul opened #87 "on amp we should have the animation related scripts disabled"
@HardeepAsrani right now due to the animation module, on pages, build with Otter, the AMP validation fails.

You can replicate by installing the official AMP plugin along with Otter.

I know that there is a solution to turn off the Animation module, but I'm sure that some people will want to have animation on non-amp pages and disable them on AMP ones.

We can do something smart and see if we are

[2019-08-26 20:28] HardeepAsrani commented on #87
@selul Above two commits fixes it. Can you check if there are any other issues? @selul

[2019-08-27 11:15] selul commented on #87
seems to be fine

[2019-09-10 12:22] #87 closed

[2019-10-22 09:10] cosmin-serbanescu opened #89 "'Settings' link on Plugin listing page"
@HardeepAsrani
https://prnt.sc/pmmjt5 perhaps you can add a 'Settings' link here, all the cool kids have it

[2019-11-05 01:37] #89 closed

[2019-11-13 20:26] HardeepAsrani opened #92 "Add tracking toggle to Otter option page"
Need to add a toggle option to turn on SDK's tracking on Otter's option page.

[2019-11-19 15:23] rodica-andronache opened #93 "HTML Anchor change on every page update"
How to replicate this:
1. Install and activate Neve
2. Import the Original Starter Site in Gutenberg
3. Check the generate HTML anchor of the Our Focus section in frontpage. In my example it was `wp-block-themeisle-blocks-advanced-columns-3fcd4c7e`
4. Use that anchor in the menu, to link to the Our Focus section
5. Edit any other section/content in the frontpage and publish the changes.
6. The lin

[2019-12-13 09:54] poonam279 commented on #86
@HardeepAsrani The same conflict is happening with Otter and Nivo slider. If we disable CSS & Animation module from the otter plugin, Nivo slider works properly.

[2019-12-21 06:53] HardeepAsrani commented on #86
@poonam279 Ask the user to use the latest version, it should be fixed.

[2019-12-21 06:53] #86 closed

[2020-01-10 08:23] #92 closed

[2020-02-01 13:32] antoniorodc opened #120 "Feature: Add offset to Post Grid Block"
Hi,

It would be very interesting the possibility of include "param offset start posts" included in grid block. For example to mix 2 style blocks differents from same section posts and no repeat content.

Regards

[2020-02-03 05:03] HardeepAsrani commented on #120
Hey @antoniorodc,

Thanks for the suggestion. We will try adding it in the next version of the block. :)

[2020-02-13 08:54] selul opened #124 "allow customization of the section id"
Right now we can't edit the HTML anchor https://share.getcloudapp.com/xQug42de

This is especially useful when we build sections that we need to reference with links, like #contact, #pricing .

Right now to do that we need to use a kilometric id.

[2020-02-17 02:25] #52 closed

[2020-02-17 02:26] #57 closed

[2020-02-22 14:28] HardeepAsrani commented on #66
https://developer.wordpress.org/block-editor/developers/internationalization/

[2020-03-02 21:42] HardeepAsrani commented on #66
Another update here:

One of the reasons why WP CLI wasn't working properly was because, sadly, WP-CLI can't include vendor folder for translations.

There are two solutions. Either we can make composer to hold `codeinwp` deps in folder different than vendor.

Or we can use this custom WP-CLI comment: https://github.com/pronamic/wp-pronamic-ideal/blob/develop/src/i18n-make-pot.php

What do you thi

[2020-03-02 23:43] HardeepAsrani commented on #66
Don't know why WP-CLI can't fetch translations from the build files of the plugin.

[2020-03-03 07:32] selul commented on #66
Yes, let's go with the 2nd option.

[2020-03-13 15:47] rodica-andronache opened #148 "[WP 5.4] Tab labels not visible for Section"
Tested with 5.4-RC2-47447
![Screenshot (12)](https://user-images.githubusercontent.com/3266155/76636956-959c6600-6552-11ea-92ff-76ee92f1a96f.png)

[2020-03-19 14:35] stefan-cotitosu opened #152 "Add Time to Read in the Posts block"
The Posts block offers a similar layout as the one available in Neve on the blog/archive pages.
The post title/meta etc can be reordered as well. It would be nice to add the Time to Read info here.

![add-time-to-read](https://user-images.githubusercontent.com/26867648/77078577-73499300-69ff-11ea-85b6-51bba6157cf5.png)
![expected-behavior-ttr](https://user-images.githubusercontent.com/26867648/770

[2020-03-20 08:02] HardeepAsrani commented on #152
Really not looking to do this in the recent future unless more people need it. Maybe then we can have a hook or something for this.

[2020-03-20 08:04] #148 closed

[2020-03-21 10:03] selul opened #158 "Change Default for Option Flag"
based on our talk, let's change the default for the option flag to empty
https://github.com/Codeinwp/otter-blocks/blob/cfed515546a963dc423dc3577bbed339c2932d14/class-otter-blocks.php#L160

[2020-03-21 19:45] rodica-andronache opened #159 "Spacing between columns on mobile"
Not sure if this is how it should be supposed to work or not.
I added a new section with 5 columns, didn't change any margin/padding for the section or the columns, and from what I've seen they all have the same values.
On Desktop everything's ok but on mobile, the spacing is different for all the other columns, except the first one ( bigger left/right spacing, and between the columns )

![downloa

[2020-03-30 22:19] #158 closed

[2020-04-01 09:08] selul opened #174 "Regenerate CSS Files Option in Otter Settings"
We would need a way to bulk regenerate the CSS files generated by Otter.

This would be handy when somehow the regenerate all files when it has been altered by 3rd party plugins or if it has been corrupted.

Ideally, the action should only remove the CSS folder where we save the custom css files.

[2020-04-01 09:11] selul opened #175 "device switcher popup is not closed when clicked outside"
In the global defaults, the device popup is not closed when I click outside.
https://share.getcloudapp.com/lluyLKQZ

[2020-04-01 09:23] selul opened #176 "vertical align in the block context menu"
I see that we people can control the vertical alignment for the section block from here https://share.getcloudapp.com/7KuRG5mO

We should add this to the block context menu as this is much easier to find there. Also, the core block is following the same pattern.

[2020-04-01 09:36] selul opened #177 "remove plus/minus icons on range controls"
On some range controls, not all of them, we use a confusing pattern where we add minus/plus icons on the edges.

I find this confusing and we should remove the icons and have consistent behavior with rest of range controls used.

https://share.getcloudapp.com/OAurXD7n

[2020-04-01 09:52] selul opened #178 "Remove Moving Icons from Range Control"
Based on the #177 we can extend this to the moving icon from this https://share.getcloudapp.com/nOuNx0Ee and have a consistent control

[2020-04-01 09:58] selul opened #179 "slider block settings should be first in the block settings"
Right now the slider block settings is not first in the sidebar, being superseded by the common settings sections like Animations and Custom CSS

https://share.getcloudapp.com/WnuNvjwP

It should be first in the sections list

[2020-04-01 10:47] selul commented on #179
same for the map block

[2020-04-01 10:51] selul opened #180 "re-use new gradient color in all background related controls"
The new gradient control from the core seems more solid than the current one that we use.

We can look into this and see re-use the same control available in the cover block
https://share.getcloudapp.com/YEuA2xOd

[2020-04-01 18:01] HardeepAsrani commented on #174
What do you mean by that? @selul

[2020-04-01 18:06] HardeepAsrani commented on #175
@selul Weird that Gutenberg popovers don't work in Popover. I can try but don't think we can do anything about it.

[2020-04-01 18:55] HardeepAsrani commented on #180
@selul Yes, it's pretty good. The only issue is that it's only available in version 5.4. What do you think?

[2020-04-01 18:58] HardeepAsrani commented on #176
@selul Yea, I see that too but is it an option that people use enough to put it in the main toolbar?

[2020-04-01 18:59] HardeepAsrani commented on #179
@selul They're the first one actually. The issue is that when you add a new slider or map, the options panel is loaded when you add API/Images to the block, so Animation/CSS ones are showed first. If you click outside and then again, then you will see them in the end.

Also, we have no way to really control those options, unfortunately.

[2020-04-01 19:30] selul commented on #179
I've tested on the core blocks and our section block and it seems the order is fine, only for those they are reversed.

[2020-04-01 19:31] selul commented on #180
we can have this in mind for future releases, maybe after a few months. We can't use the package standalone for older wp versions?

[2020-04-01 19:39] HardeepAsrani commented on #179
@selul It will be the same in Gallery block from Core if you try. Section doesn't have because as soon the block loads, it changes the select from Parent to Child, so it's like selecting a new block.

[2020-04-01 21:44] HardeepAsrani commented on #178
Closing in favor of https://github.com/Codeinwp/otter-blocks/issues/177

[2020-04-01 21:44] #178 closed

[2020-04-02 06:40] selul commented on #174
We save the custom css files in a folder which we can remove it on bulk regenerate action.

[2020-04-02 22:49] HardeepAsrani commented on #174
Alright, I'll look into it. Any idea on how to properly do it so we don't over-burden the server?

[2020-04-03 06:45] selul commented on #174
Something like this should work:

[code]

[2020-04-03 21:45] HardeepAsrani commented on #174
Not deleting, but generating CSS for posts in bulk which won't put too much stress on the server.

[2020-04-04 12:08] selul commented on #174
we don't need to generate it, it will be generated when someone is viewing the page. I.e if the file is not found we will generate it.

[2020-04-05 22:07] HardeepAsrani commented on #174
Ahaa. Got it.

[2020-04-06 13:27] seleborg opened #182 "CSS for Section block only output for preview"
Thanks for an otherwise excellent plugin!

I'm currently experiencing differences between the preview and the published version of a page. The page features several sections blocks following each other. I recently added one section block in the middle of the page that seems to behave differently. Here's what I've found out so far:

# Padding properties correctly output to preview
I edit the paddin

[2020-04-06 16:29] seleborg commented on #182
I also observe that the rendered page normally references a CSS file stored under

wp-content/uploads/themeisle-gutenberg/post-XXX.css

This file gets loaded by the browser and contains CSS rules for the other blocks, but not for the "broken" block I'm referring to.

This file has a last modified timestamp of 22.03.2020 for the particular page I'm referring to. So obviously, it hasn't been re-writ

[2020-04-07 21:17] HardeepAsrani commented on #182
Hey @seleborg!

Thank you for the issue. Yes, one another user has reported a similar issue. Would it be able to give us access to your WordPress instance + FTP (not publicly, we will email you)?

You don't have to give access to your live instance but a staging site will do just fine. We haven't been able to reproduce this on our end.

Also, which hosting provider are you using? Thank you so much

[2020-04-07 22:41] HardeepAsrani commented on #182
We run some automation to remove unused files from the released plugin, as in files that are used during development only, and our code removes a file that shouldn’t be removed.

Another user sent their FTP which helped us in solving it. We will fix it this week and release.

[2020-04-08 10:18] seleborg commented on #182
Hi Hardeep,

OK, so you don't need access to my site, right? Happy to hear a fix is
coming quickly. Thanks for your work!

On Wed, Apr 8, 2020, 00:42 Hardeep Asrani <notifications@github.com> wrote:

[2020-04-08 21:02] HardeepAsrani commented on #182
You're welcome!

[2020-04-08 22:40] HardeepAsrani commented on #174
@selul If a post has CSS + a Reusable Block (which will also have its own CSS file), I'm only generating one CSS file per page load, so not to put too much load on the server. Is that fine?

[2020-04-08 22:48] HardeepAsrani commented on #159
@rodica-andronache Can you try it with the latest version? I tried and it worked just fine.

[2020-04-09 07:31] selul commented on #174
We can regenerate it at once, won't be an issue.

[2020-04-10 22:03] #174 closed

[2020-04-10 23:03] HardeepAsrani commented on #182
Hey @seleborg! It should be fixed in the latest version, which is 1.5.3. Please reopen this issue if it doesn't work for you! :)

[2020-04-10 23:03] #182 closed

[2020-04-11 07:50] seleborg commented on #182
Seems to work, thank you very much for the quick fix.

On Sat, Apr 11, 2020, 01:03 Hardeep Asrani <notifications@github.com> wrote:

[2020-04-11 23:29] HardeepAsrani commented on #182
You’re welcome & thank you for reporting the issue! @seleborg

[2020-04-13 16:02] rodica-andronache commented on #159
it's working well 👍

[2020-04-13 16:02] #159 closed

[2020-05-02 20:47] HardeepAsrani opened #551 "Plugin Card Horizontal Style"
Plugin Card block needs to have a horizontal style. The design was made by Hitanshu.

![image](https://user-images.githubusercontent.com/2649903/80891748-cf345680-8ce3-11ea-86d1-fa7e6b9a44d3.png)

Button : #5C67B9
Background: #EBEBEB
Text: #333333
Label: #4F4F4F

[2020-05-07 19:09] selul opened #197 "font awesome not loading when the post is outside the main loop"
According to this
https://github.com/Codeinwp/otter-blocks/blob/e7f49bf07bf9fe8597961a6d3fb09666505e0c5b/class-otter-blocks.php#L72
we load the font awesome file only for posts in the main loop.

The are various use cases when the content is loaded outside the loop as well, either in the archive or similar, and on these areas, the icons are not showing.

Ideally, we should load the font-awesome in

[2020-05-12 14:53] rodica-andronache opened #199 "[Buttons Group] Choosing a background custom color removes the text color"
In the Button Group block, change the `text color` for one of the buttons.
After that, click on `Custom color` for `background`.
The text color gets reset to the default color.
https://www.loom.com/share/d9d6ee9dc4a548408a9f9f3b7af44f4c

[2020-05-13 18:50] HardeepAsrani commented on #199
@rodica-andronache Thanks. This seems to be a weird issue which is happening with all three controls.

[2020-05-13 18:54] HardeepAsrani commented on #199
What is even weird is that it's happening with other blocks too where two color pickers are together.

[2020-05-14 14:38] HardeepAsrani commented on #199
Okay, it seems to happen with only WordPress 5.4. It's weird and I don't know how to fix it. Will debug more and see what happens. :)

[2020-05-15 20:59] HardeepAsrani commented on #197
@selul It's happening because the 404 page doesn't have content. We can do the same as we render CSS but it's really for the Neve theme and I don't see any other cases where such a thing will happen. What do you think?

[2020-05-15 21:03] HardeepAsrani commented on #197
Regardless, should we move this to next version so we can release this one sooner and then come back to it, as it's not as important?

[2020-05-16 11:13] selul commented on #197
Hi,

Thanks for checking this! It's highly unlikely that this is happening for Neve theme based on this condition https://github.com/Codeinwp/otter-blocks/blob/e7f49bf07bf9fe8597961a6d3fb09666505e0c5b/class-otter-blocks.php#L71

There are multiple issues there:

- [ ] is_admin is redundant as the hook `enqueue_block_assets` is always loaded in the admin as well, you can check the core function tha

[2020-05-16 14:21] HardeepAsrani commented on #197
It's not redundant in this case as we check to say if it's admin then load the script regardless. If it's not admin, then follow the rest of the conditions.

That's for Reusable Block.

Ahaa, maybe the last post is the thing which I failed to notice. I'll try and reproduce it in the way you shared. Thanks!

[2020-05-16 15:25] selul commented on #197
I'm unsure what do you mean here? `is_admin` is checking only if we are in `wp-admin` context, which is done also before running `enqueue_block_assets` [action](https://github.com/WordPress/WordPress/blob/master/wp-includes/script-loader.php#L2456). Is not checking if the current user is **[admin](https://developer.wordpress.org/reference/functions/is_admin/)** ( _administrator role_ ). Is this wh

[2020-05-16 16:32] HardeepAsrani commented on #197
`has_block` is only for the front. If we remove is_admin then the script will only load on front, as has_block condition won't satisfy loading on the admin.

[2020-05-16 16:32] HardeepAsrani commented on #197
So is_admin is just saying our code to load the script in backend regardless if the block is being used or not. And only load it in front-end if the block is present.

[2020-05-16 17:15] selul commented on #197
Ok, makes sense now.

[2020-05-22 17:33] JohnPixle opened #204 "Default padding at .wp-block-button"
There appears to be an issue with the padding of the buttons in the Gutenberg editor. The` .wp-block-button` class seems it has a padding of 0.75em and it applies on the frontend, at the core _button blocks_ as well as the Otter _buttons group_.

This causes an alignment issue with the rest of the blocks because the button(s) appear with an inset that is due to the padding.

In the editor however,

[2020-05-22 17:46] JohnPixle opened #205 "Advanced Heading Block should inherit customiser typographic styles"
In the editor, the advanced heading block does not inherit the Typographic styling as defined in the theme customiser (as it should).

![Screenshot 2020-05-22 at 20 43 23](https://user-images.githubusercontent.com/4193672/82695096-1b344480-9c6d-11ea-959b-3f8aa61b90d7.png)

In the frontend it appears correctly though, but it is very important to have the correct style applied to it when working in

[2020-05-23 17:34] selul commented on #204
Hi @JohnPixle, this is from Neve, will be fixing it in the upcoming release

[2020-05-29 10:10] rodica-andronache opened #209 "Otter templates have a white background in the editor when using Gutenberg"
When the Gutenberg plugin is installed, some of the templates have a white background in the editor
![Screenshot (1)](https://user-images.githubusercontent.com/3266155/83248416-b2d5ed80-a1ad-11ea-9d62-5788028e7cc2.png)
![Screenshot (3)](https://user-images.githubusercontent.com/3266155/83248420-b36e8400-a1ad-11ea-932e-0b9d7098a85b.png)
![Screenshot (4)](https://user-images.githubusercontent.com/32

[2020-06-01 16:52] JohnPixle opened #217 "Accordion block (suggestion)"
Hi team. I did a bit of research regarding some suggestions I might have for some useful blocks. An accordion block is one of them that I'd find very handy, especially since we are focusing on Gutenberg-first starter sites. I would not see these as a high priority but it would be great if we can include them in Otter at some point.

I am pasting below some links for inspiration.

- In [Gutenberg H

[2020-06-01 16:55] JohnPixle opened #218 "Tabbed content block (suggestion)"
A Tabs block would also be very useful for presenting tabbed content.

Examples are included below.

- [Gutenberg Hub](https://gutenberghub.com/blocks/tabs-block/) highlights how the Tabs block works by Kadence. Very good reference.
- An execution by [Kioken blocks](https://kiokengutenberg.com/blocks/tabs-block/)

Thanks! ✌🏻

[2020-06-01 17:13] JohnPixle opened #219 "Shape dividers do not show up at frontend"
Hi friends, the shape dividers in the sections do not seem to work at the frontend. Additionally, the "height" control does not seem to work. I created this quick video to highlight the problem.

https://www.loom.com/share/1ea3361dd1c34ebfb4b0aa6e71c3851d

Thanks!

[2020-06-01 17:20] JohnPixle commented on #209
Hm, this is interesting. Since I am working on some new templates for the otter library I'd like to see if this is a preventable issue when designing the blocks. However, I tried to replicate this at the [demo site](https://demosites.io/starter-sites-staging/otter/) and the templates got imported fine.

https://www.loom.com/share/902b08f77139411f94232347c9721cea

Following.

[2020-06-02 12:33] HardeepAsrani commented on #209
@JohnPixle @selul @rodica-andronache This issue was introduced in Gutenberg plugin after we released new Otter version. I've already fixed it in development.

[2020-06-02 21:34] HardeepAsrani commented on #217
Closing in favor of: https://github.com/Codeinwp/gutenberg-blocks/issues/267

[2020-06-02 21:34] #217 closed

[2020-06-02 21:35] HardeepAsrani commented on #218
Closing in favor of: https://github.com/Codeinwp/gutenberg-blocks/issues/268

[2020-06-02 21:35] #218 closed

[2020-06-03 19:52] purplecodes opened #220 "Button Group block: colors and spacing not working"
Issue: When adding a button group block, the selected colors and the spacing set is not reflected on the frontpage.

Steps to replicate.
1. Created a custom layout for footer.
2. Selected the button group block.
3. Created 3 buttons as seen here -->> https://snipboard.io/3qLAr7.jpg
4. This is how it looks like on the frontpage -->> https://snipboard.io/7yBOdT.jpg

[2020-06-03 22:21] HardeepAsrani commented on #219
Height doesn't work on the backend but both Divider and Height works on front. Can you please help us in reproduction if you've some free time @rodica-andronache?

[2020-06-05 12:00] rodica-andronache commented on #219
@HardeepAsrani I've tested this and like you've mentioned, in the backend, the height control is not working, but on frontend both divider and height work. Perhaps there is a specific case where this is not working, but I couldn't figure out when

[2020-06-05 16:15] JohnPixle commented on #219
Hm... weird behaviour, can't replicate this with consistency.
[At the demo site](https://demosites.io/starter-sites-staging/otter) neither the shape divider or the height work for me at the frontend, but on a local site they work fine.

[2020-06-05 19:49] HardeepAsrani commented on #219
Is it one particular type of divider or all of them? @JohnPixle

[2020-06-07 22:03] HardeepAsrani commented on #220
Hey @purplecodes, which theme was the website using?

[2020-06-08 06:51] purplecodes commented on #220
@HardeepAsrani this was tested on Neve Pro.

[2020-06-10 10:23] ineagu opened #224 "add lottie animations"
@HardeepAsrani not sure what you think about it, seems something useful to people that can allow to build some interesting sites.

[2020-06-11 00:47] HardeepAsrani commented on #224
What Lottie animations? @ineagu

[2020-06-11 08:46] ineagu commented on #224
basically the ability to add ANY lotie animation file, from here for e.g https://lottiefiles.com, they come as a json,

[2020-06-13 09:09] HardeepAsrani commented on #220
@purplecodes Tried it on my end and it works fine. Can you reproduce it and export the block using https://wordpress.org/plugins/blocks-export-import/ plugin?

[2020-06-13 09:10] HardeepAsrani commented on #219
Any updates? @JohnPixle

[2020-06-15 10:18] JohnPixle commented on #219
Sorry @HardeepAsrani, missed the mention.
I get the same behaviour for **all the shape dividers.** 😕

[2020-06-15 10:20] HardeepAsrani commented on #219
We can leave this for now until we can reproduce this issue. I don't expect many users using this feature, so it's fine. We can fix it when we're able to reproduce it.

[2020-06-15 10:21] JohnPixle commented on #219
Sounds good, thanks! :)

[2020-06-16 14:53] purplecodes commented on #220
@HardeepAsrani
Installed and activated the Blocks Export Import plugin,
Tested again with the Button Group, it works when using Gutenberg in a page or post.
When tested in Gutenberg using the Neve Custom Layout option, the issue is still the same. The button colors and spacing are not displayed as expected.

[2020-06-22 23:29] HardeepAsrani commented on #220
Can you export the blocks using that plugin and share the JSON with me? @purplecodes

[2020-06-24 21:33] purplecodes commented on #220
I tested again using the latest version of Otter (v1.5.5) and it appears to be resolved.
When I rolled back to v1.5.4, I can see the issue there.

v1.5.4 https://snipboard.io/DRAvjZ.jpg
v1.5.5 https://snipboard.io/7HuA69.jpg

Here is the JSON file: https://www.dropbox.com/s/cukhql7yr019tdr/blocks-export%20%284%29.json?dl=0

[2020-06-25 18:28] HardeepAsrani commented on #220
It's fine if it doesn't exist in 1.5.5. Thanks for the finding, let me know if you find this again!

[2020-06-25 18:28] #220 closed

[2020-07-22 08:58] rodica-andronache opened #258 "Using up/down keyboard keys to update the number of items in Posts in Safari"
This happens just in `Safari`. In Chrome it looks ok.
1. Add a `Posts` block in a page.
2. Use the `up/down keyboard keys` to increase/decrease the `Number of Items`
3. For the up key, everything is ok
4. For the down key, the focus goes off the block, and into the title of the page
https://www.loom.com/share/0c76385c1bd147f7ace2935b4493dc4f

[2020-07-22 09:02] rodica-andronache opened #259 "Trying to clear out the Offset option in the Posts block deletes the entire block"
1. Add a `Posts` block in a page.
2. Use the `backspace` keyboard key to delete the `Number of Items` option -> Everything is ok
3. Use the `backspace` keyboard key to delete the `Offset` option -> The block breaks
https://www.loom.com/share/e597c12706f245e0a11f4036b62b6d7b

[2020-07-25 22:04] HardeepAsrani commented on #259
@rodica-andronache Can you try to the development branch and see if that happens? I fixed a related bug that should've fixed it.

[2020-07-25 22:05] HardeepAsrani commented on #258
@rodica-andronache Can't do anything. It's Gutenberg control and nothing custom. Can you see if this happens with rest of the non-Otter blocks too?

[2020-07-27 09:15] rodica-andronache commented on #258
@HardeepAsrani yes, it happens with non-Otter blocks as well

[2020-07-27 09:36] rodica-andronache commented on #259
@HardeepAsrani I've used this to get the version on development
`git clone https://github.com/Codeinwp/otter-blocks.git && cd otter-blocks && git checkout development && npm install && composer install && npm run build && cd vendor/codeinwp/ && rm -rf gutenberg-blocks && git clone https://github.com/Codeinwp/gutenberg-blocks.git && cd gutenberg-blocks && git checkout development && npm install &&

[2020-07-27 20:50] HardeepAsrani commented on #259
That's because we've added a new file and the autoloader is in Otter. It's a weird situation. :(

[2020-07-27 20:51] HardeepAsrani commented on #258
Closing it as it's not an issue with our plugin.

[2020-07-27 20:51] #258 closed

[2020-07-31 09:55] irinelenache opened #264 "Plugin card problem in editor when adding animation"
When making a post, if i add the `Plugin Card` block and add an `Animation` to it, the block gives an error in editor, that doesn't disappear after refreshing. The block and animation **work in front-end.**
https://www.loom.com/share/9ffc7429066a423cb87d3a68fdc1179f
Same issue with:
Otter blocks 1.5.5.
Wordpress 5.5. and 5.4.2
Neve 2.7.5 and Twenty Nineteen.

[2020-08-03 13:39] HardeepAsrani commented on #259
@rodica-andronache Was it happening after solving that debugging issue?

[2020-08-03 13:46] rodica-andronache commented on #259
@HardeepAsrani it's ok, it's fixed in the latest version

[2020-08-03 13:46] HardeepAsrani commented on #259
Okay, thanks! @rodica-andronache

[2020-08-03 13:46] #259 closed

[2020-08-03 13:47] HardeepAsrani commented on #264
Could you test it with the latest release and see if it happens?

[2020-08-03 14:07] irinelenache commented on #264
Did the update and tested it again on wp 5.4.2 and 5.5. Had the same result.

[2020-08-03 14:24] Soare-Robert-Daniel commented on #264
Fixed: https://github.com/Codeinwp/gutenberg-blocks/pull/399

[2020-08-04 10:39] Soare-Robert-Daniel commented on #264
@irinelenache can you check again the issue with the new version?

[2020-08-05 07:51] irinelenache commented on #264
@Soare-Robert-Daniel checked it with otter blocks 1.5.6 and had the same result. If you want me to test with a git version tell me how exactly.

[2020-08-07 13:55] HardeepAsrani opened #556 "Update animate.css to latest version"
We should update to the latest version of animate.css and use all the latest animations: https://animate.style/

[2020-08-12 13:44] rodica-andronache opened #279 "Resizable controls appear arround images when previewing templates"
It's not a big deal, but if I `preview` a template that contains images, `resizable controls `appear around the images, even though that's just a preview, and you can't customize it.
![1](https://user-images.githubusercontent.com/3266155/90022301-0b039280-dcbb-11ea-8d94-40a65de0cddf.png)

[2020-08-18 12:03] selul opened #283 "enqueue version should use an internal index rather the post modified time"
The reason why we use the post_modified time for the css enqueue version param is to burst the cache of the CSS file when the post is updated.

While this is good, it won't be affected if we regenerate the CSS from the Otter settings page, since the post is not modified.

To fix this we should use an internal post meta timestamp, which should be set when the CSS is generated and used as version.

[2020-08-20 15:26] StellaTI opened #284 "Can't properly type from keyboard the value for 'Border Radius' and 'Border Width' settings"
We have a clean import of Web Agency starter site with Gutenberg.
We go from Home page to Edit page > click on the first 'Learn more' button and in Block > Buttons > Border&Box Shadow and try to set the Border Radius to 40.

**Expected result:** we expect to set the value for 'Border Radius' without any difficulties

**Actual result:** when we type the value in figures from the keyboard, it might

[2020-08-24 05:17] HardeepAsrani commented on #284
Hey @StellaTI,

This seems to be an issue with Gutenberg itself as we are using the Core components for those settings, without adding any custom code. And this seems to also happen with Gutenberg's own controls, sadly.

Let us know what you think. 👍

[2020-08-27 05:54] StellaTI commented on #284
hi @HardeepAsrani !
considering your comment I have tested the same settings with Elementor and Brizy and ideed, it looks like an issue on Gutenberg side. That means we can use a workaround for Gutenberg until it's not improved and close the ticket for now.

[2020-08-27 05:57] #284 closed

[2020-08-27 05:58] StellaTI commented on #284
issue on Gutenberg side, not reproducible with Elementor, Brizy starter sites.

[2020-09-03 21:10] HardeepAsrani opened #290 "1.5.8 ToDo List"
- Add JSON option to Dashboard
- Upload readme to include Lottie & Progress Bar

[2020-09-14 20:40] #290 closed

[2020-10-19 08:40] rodica-andronache opened #321 "Change highlight <mark> tag with a different one"
as it's causing issues with WooCommerce as mentioned here https://github.com/Codeinwp/neve-pro-addon/issues/934

[2020-10-21 12:58] ineagu opened #322 "CSS loaded even for Classic Editor"
it's quite big of a file and should not be loaded when not needed, if possible

cc @HardeepAsrani

[2020-10-26 18:50] HardeepAsrani opened #549 "Global Defaults: Force settings to existing blocks"
Just an idea that we can explore: https://wordpress.org/support/topic/assign-default-settings-to-previously-built-blocks/#post-13392250

[2020-10-28 12:05] irinelenache opened #329 "Can't open editor for new post/page with Otter blocks and Gutenberg installed"
When i try to open `New post` / `New page` with both Otter blocks and Gutenberg installed, the page remains white and i get this errors in console -> https://prnt.sc/v8m84e . This happens with any theme activated.
Can be tested here:
https://generous-coyote.jurassic.ninja
user: demo
pass: BnPSqwkwTj2R

[2020-10-29 08:03] HardeepAsrani commented on #329
@irinelenache I fixed it few days back, you can test to make sure: https://github.com/Codeinwp/gutenberg-blocks/pull/482

[2020-10-29 08:04] HardeepAsrani commented on #329
related issue: https://github.com/Codeinwp/gutenberg-blocks/issues/483

[2020-10-29 08:04] #329 closed

[2020-10-29 08:06] HardeepAsrani commented on #321
@rodica-andronache But why? It's just a standard HTML tag after all. 😄

[2020-10-29 08:13] selul commented on #321
Browsers it's adding a yellow bg by default to mark tags, we can replace with regular span tag or similar, in the same way, that core is doing.

[2020-10-29 08:18] HardeepAsrani commented on #321
@selul That's exactly why we've used them. But my question is how it's causing an issue with Woo unless a user uses it themselves? Or am I missing something?

[2020-10-29 08:31] selul commented on #321
The thing is that most of the themes style that mark tag with bg none due to that yellow bg by default. You can do some testing based on the top 20 themes from the repo.

The woo thing is one reason why they style that with bg transparent.

[2020-10-29 08:34] selul commented on #321
Another idea here is to add a distinct generic class to this mark, which could help on the theme side to target the reset.

[2020-10-30 05:49] HardeepAsrani commented on #321
@selul There's nothing wrong with it as we anyway want styles to be decided by the theme. If the user wants they can override the theme defaults from Block settings and change the color. What do you think? We can change it to span tag if you want but I don't see anything wrong with themes styling mark as they want.

[2020-10-30 07:56] selul commented on #321
Yep but the thing is because of the way that the majority of the theme are styling, the highlight mechanism is basically not working :)
Let's add at least a distinctive class on the mark tag which can help target from the theme side.

[2020-11-04 17:47] rodica-andronache opened #342 "[WP 5.6] Add/edit post doesn't work"
Same as here https://github.com/Codeinwp/themeisle-companion/issues/563 when Gutenberg is installed, or testing on WP 5.6-beta3-49491, you can't add a new post or edit an existing post with Otter installed.
![download (4)](https://user-images.githubusercontent.com/3266155/98149984-9d8c8a00-1ed6-11eb-8329-cb2a3345bbee.png)

[2020-11-05 11:51] ineagu opened #547 "Section padding/margin"
@HardeepAsrani I think this was discussed before, I couldn't find the issue here. The fact that by default the section is adding padding + columns are adding padding, makes theme unusable for me, since every time I would need to bring those to 0.

I guess this makes sense in a full-width context, while when you're just writing a post, is really annoying.

Maybe have some context-based settings alo

[2020-11-19 21:44] HardeepAsrani commented on #322
This happens on all the packages Blocks, Animations & CSS. Fixes coming up.

[2020-11-19 22:38] #322 closed

[2020-11-20 12:15] kmgalanakis opened #351 "Progress bar and circle counter in a post give console errors on the frontend which break the proper block rendering"
In a clean WP installation, with just 2020 and your plugin, when I put a `Progress bar` or a `Circle counter` block, when I load the frontend I get the following errors.

![image](https://user-images.githubusercontent.com/1268089/99798753-34458180-2b3a-11eb-9f1b-bfe45f6e75cc.png)

Debugging this further I see that the error comes from this line here

![image](https://user-images.githubusercontent.

[2020-11-22 19:46] HardeepAsrani commented on #351
Hey @kmgalanakis,

We fixed this issue a few days back in development and will be releasing it soon: https://github.com/Codeinwp/gutenberg-blocks/pull/520/commits/aca1360083a98ad2e1f276cf61a8255e5b2cdd9b - thank you!

[2020-11-22 19:46] #351 closed

[2020-11-22 20:30] HardeepAsrani opened #353 "Load scripts over CDN"
Should we give users an option to enable loading scripts, such as Font Awesome & other third-party styles, from CDN to allow pre-loading?

@selul

[2020-11-22 20:35] HardeepAsrani commented on #353
Some examples:

- Font Awesome
- animate.css

[2020-12-19 20:58] #36 closed

[2020-12-19 21:01] HardeepAsrani commented on #152
Closing as it's up for voting on nolt and we can have it when more people ask for it: https://otter.nolt.io/

[2020-12-19 21:01] #152 closed

[2020-12-22 19:30] mayolag opened #375 "Can't save blocks"
When editing a block after clicking on save it freezes and doesn't get saved.

[2021-02-23 21:51] danavasilache opened #413 "Links not displayed properly in Posts block"
I have firstly made a blog Post, where I have added an YouTube Block, and also the Embedded Block, with the same YouTube link, to see if there is any difference.
This is how the post looks like.  https://prnt.sc/1047tip
On the Homepage, I have added a Posts Block and this is how it shows  https://prnt.sc/1047u0q

The YouTube URL is hidden on the Post,  but it shows on the Homepage.

[2021-03-16 21:11] HardeepAsrani commented on #375
@mayolag This was fixed few weeks back. Let us know if you still face it. :)

[2021-03-17 19:19] #353 closed

[2021-03-22 11:00] HardeepAsrani opened #548 "Update Block Default fields"
We should update and add more settings to Block Defaults, including adding new blocks to the list.

Also: Shadow option for Heading.

[2021-03-24 21:48] purplecodes opened #432 "Request to add a single layout/column in the section block"
When adding a Section block and chose an equal layout, for instance, then change the column to one,
https://vertis.d.pr/irzeAF
This error comes up:
https://vertis.d.pr/z392Jj

One of our users suggested if we can add a single layout to this block.

Ticket: https://secure.helpscout.net/conversation/1460611774/271866/

[2021-03-26 18:47] HardeepAsrani commented on #432
The user can click on "Skip" button for the first column layout. And thank you for reporting the other issue!

<img width="882" alt="Screenshot 2021-03-27 at 12 16 52 AM" src="https://user-images.githubusercontent.com/2649903/112679093-c87d7780-8e91-11eb-9797-1ee3097420fd.png">

[2021-03-29 09:24] stefan-cotitosu opened #438 "Progress bar throws an error in the browser console and doesn't load on front end"
The progress bar block doesn't work properly, meaning that the background(percentage) of the bar doesn't load on the front-end. It works properly in the editor preview.

![progress-bar-editor-preview](https://user-images.githubusercontent.com/26867648/112815962-89b21200-9089-11eb-98fc-8e197c6e5cdf.png)
![progress-bar-issue](https://user-images.githubusercontent.com/26867648/112815969-8c146c00-9089

[2021-03-29 09:33] stefan-cotitosu commented on #438
We can notify this customer that he can update the plugin once the issue is fixed - https://secure.helpscout.net/conversation/1465365988/272528/

[2021-03-29 21:06] #375 closed

[2021-03-29 22:09] HardeepAsrani commented on #438
Should be fixed. Can you notify the user to update? Thank you for reporting! @stefan-cotitosu

[2021-03-29 22:09] #438 closed

[2021-03-31 08:28] stefan-cotitosu commented on #438
Yes, I will update both tickets.

[2021-04-03 18:31] purplecodes opened #441 "Section block changes the column ratio"
Here are the steps taken:

1. Created a new page from **WordPress Dashboard** > **Pages** > **Add New**
2. Selected 1:2 layout
3. Configured the columns to 90:10
4. Add some text and saved the changes
5. Changes are displayed correctly when viewed in the frontpage but when I clicked on Edit page again, the ratio is set to 50:50.

See screencast for reference.
https://vertis.d.pr/0DpXNj

Ticket: ht

[2021-04-07 19:16] HardeepAsrani commented on #441
@purplecodes Really can't control it to that extent, unfortunately. :(

[2021-04-08 08:51] mghenciu opened #447 "Improve the design for Otter presentation page"
https://demo.themeisle.com/otter-blocks/

[2021-04-11 12:42] performancecoding commented on #441
We are experiencing exactly the same problem with V1.6.3 and had to roll back to V1.6.2.

We have multiple Section Blocks on a page, each containing 2 columns. In the top Section Block, the Column Width of first Section Column is 55 and the other is 45. In the other Section Blocks the columns widths are 60 and 40.

With 1.6.3 installed, as soon as I open the page to edit anything, the Column Width

[2021-04-11 12:44] performancecoding commented on #441
![image](https://user-images.githubusercontent.com/82318357/114304608-07374280-9acc-11eb-9edd-be4e67cece4e.png)

[2021-04-12 19:58] HardeepAsrani commented on #441
@Soare-Robert-Daniel It seems to be due to https://github.com/Codeinwp/gutenberg-blocks/pull/625, the useEffect fires it when the block loads and resets the width.

[2021-04-12 20:24] HardeepAsrani commented on #441
Thanks for reporting it @performancecoding. Also thanks @purplecodes. Sorry, I didn't understand the issue at first, I thought this was in reference to another issue.

Can you fix it @Soare-Robert-Daniel?

[2021-05-06 17:44] mghenciu commented on #447
Implementation finished >> https://demo.themeisle.com/otter-blocks/
The landing Page previews some of the most important blocks >> https://demo.themeisle.com/otter-blocks/landing/
I also added a link to Neve.

Thank you for the design @JohnPixle & if you have any input on this, please let me know.

[2021-05-06 20:34] HardeepAsrani commented on #447
Looks great to me. Any feedback @selul?

[2021-05-07 07:33] JohnPixle commented on #447
Great work here @mghenciu, really love the blocks page too.
I  did not mention in slack, but the only one thing I spotted that hit my eye, is the line height of the intro text below the title:

I love the fact that you use the native text sizes from the sidebar, but unfortunately they neglect the line height.
If you simply add this in the customiser:
`.has-medium-font-size { line-height: 1.5; }`

[2021-05-07 11:55] selul commented on #447
Love it, I was wondering Mihai if this won't make more sense in the themeilse.com site directly and we keep only the current header of the main site with the new design?

[2021-05-07 12:12] mghenciu commented on #447
We can do that, @selul .

But I wouldn't delete this one. As the main reason we redesigned this one, is because it ranks pretty good on Google, and the previous design was outdated/not working as expected + we added some references to Neve.
![Screenshot 2021-05-07 at 15 07 18](https://user-images.githubusercontent.com/52494172/117447505-49766700-af46-11eb-8e3a-9f97e4e5ac60.png)

[2021-05-07 12:18] selul commented on #447
@ineagu is there any bad if we redirect that to the themeisle page once ready?

[2021-05-07 12:27] ineagu commented on #447
it's ok to redirect

On Fri, May 7, 2021 at 1:18 PM Marius Cristea ***@***.***>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2021-05-07 13:00] mghenciu commented on #447
Sure, invite me when you have time.

[2021-05-07 13:50] HardeepAsrani commented on #447
Should we also have a reference to Templates Patterns Collection like we do for Neve? Or maybe it can just be a reference in that Neve section as people using Neve will most like use that plugin too.

Great work @mghenciu. ❤️ :hear

[2021-05-07 13:56] selul commented on #447
@HardeepAsrani we are preparing a new set of pages for Neve and we will include there a section for TPC

[2021-05-11 12:56] mghenciu commented on #447
The pages are ready on themeisle-staging, @selul:
Otter presentation - https://staging-frontend.themeisle.com/otter-blocks-2/
landing page - https://staging-frontend.themeisle.com/otter-landing/

It may be a good idea to disable the Footer (if possible) on this 2 pages, as it looks better without it
+there is some CSS that pulls the footer over the last bottom-section.

This is how it looks now wh

[2021-05-20 20:52] pirate-bot opened #468 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-05-21 18:26] #468 closed

[2021-06-02 15:20] selul commented on #447
can we experiment with hiding that section using conditional headers?

also, @mghenciu do you have time to establish a similar page for orbitfox, is not urgent. It should include only features limited to and nothing more:

– Privacy policy notice ( GDPR friendly )
– Elementor Addons and Widgets (Forms included)
– Beaver Builder Widgets
– Sharing module
– Menu icons module
– Free stock photos modul

[2021-06-02 18:27] HardeepAsrani opened #546 "Fatal error when not in ‘direct’ file system mode"
More details soon, just a note for later. Context :https://wordpress.org/support/topic/fatal-error-when-not-in-direct-file-system-mode/

[2021-06-03 09:27] mghenciu commented on #447
@selul , Are you referring to hide the Footer using conditional headers? I am not sure that's possible, and the footer itself it's a combination of Widgets with something else.

For the Orbitfox, yes - I can do that.
Should it be also one Presentation Page & one Demo page with components mentioned above?
or just a Single Page with presentation including the components

[2021-06-03 09:30] selul commented on #447
Sorry, I was wrong, I have confused conditional headers with footer lol, my bad. The thing that bothers me is that we basically don't hide the footer at all, only that particular section, we still have the last row with menu and etc.

Will think about something.

Just a single page should be enough.

Thanks, Mihai !

[2021-06-04 20:33] HardeepAsrani commented on #66
I've tried many times and never been able to get this to work properly. Can you help @abaicus as I seen you've done it for Neve.

[2021-06-05 09:36] selul commented on #66
I can help with this.

[2021-06-05 19:48] HardeepAsrani commented on #66
Sure, sure. Happy to get this off my plate.

[2021-06-18 21:10] HardeepAsrani opened #545 "Add video background to Section"
Add video background support to Section block.

[2021-06-19 15:56] mghenciu commented on #447
I finished the presentation page design for OrbitFox, in [Figma](https://www.figma.com/file/Ma7IPJwPUMlEUrWd5oWonP/OrbitFox?node-id=476%3A15).
Let me know your thoughts, @selul & @JohnPixle , when you have time.

[2021-06-25 08:06] selul commented on #447
@mghenciu looking good, we can proceed with the implementation on the themeisle staging.

[2021-06-25 08:11] mghenciu commented on #447
Thanks for the reply @selul.
I'll start as soon as we'll find a fix, with @HardeepAsrani , for the Elementor issue on Staging site.

[2021-06-27 13:15] selul commented on #447
@mghenciu also just a note here that we need those pages in gutenberg being built, not elementor

[2021-06-28 08:06] mghenciu commented on #447
Got it @selul .
Thanks for the heads up.

[2021-06-28 16:13] mghenciu commented on #447
No worries @JohnPixle ✌️
It was pending, because I thought the page will use Elementor.

I'll get back soon with the Live Gutenberg version.

[2021-06-30 10:34] mghenciu commented on #447
The Orbit Fox page is **Done**!
https://staging-frontend.themeisle.com/orbitfox

And I tried to design the waves in a way that would make them look good on a regular screen, but also Ultrawide displays:
![image](https://user-images.githubusercontent.com/52494172/123946087-7cb5ff00-d9a7-11eb-8e32-1478d882fa59.png)

[2021-06-30 11:43] mghenciu opened #544 "Button Group spacing on mobile break-points"
At the moment, when using a Button Group, the spacing between buttons can be adjusted or set to 0. But what happens on mobile break-points where you have 2 buttons and spacing set to 20px.
The buttons will not be perfectly centered:
![Screenshot 2021-06-30 at 14 35 55](https://user-images.githubusercontent.com/52494172/123954093-a58ec200-d9b0-11eb-9134-27da7495aa09.png)

My suggestion is to disabl

[2021-07-05 22:09] HardeepAsrani opened #496 "Bump Minimum Compatibility"
We need to bump the minimum compatibility version to 5.5. Reason https://github.com/Codeinwp/gutenberg-blocks/issues/724

[2021-07-09 04:41] HardeepAsrani opened #555 "CSS extension not working with..."
- [ ] Multipurpose Gutenberg Block By theDotstore
- [ ] BlockLabs/Genesis
- [ ] WooCommerce Blocks
- [ ] MP3 Audio Player for Music, Radio & Podcast by Sonaar
- [ ] ShopLentor

[2021-07-12 09:36] HardeepAsrani opened #543 "Posts Block Improvements"
Card effects, Ability to use Products ( enable add to cart/comparison/wishlist inside). More details will be added soon. Part of #1451

[2021-07-21 12:28] kilbot opened #497 "Question about wordpress/api package"
Hi guys, I've been following your [great tutorial](https://www.codeinwp.com/blog/plugin-options-page-gutenberg/) for creating a plugin options page, but I am stumped on one thing: the `@wordpress/api` package (which is not a valid NPM package). I understand you are pulling it from the global `wp` but I'm wondering if this is still the recommended method.

So, my question: would you still recommend

[2021-07-21 14:03] Novatopnet commented on #497
Hi, did you stop supporting Woocommerce BECAUSE??? Do you have any solution for optional closing the sale in the POS giving the option to print tax coupon or non-tax coupon?

[2021-07-21 18:01] #497 closed

[2021-07-21 21:57] HardeepAsrani commented on #497
Hey @kilbot,

`@wordpress/data` is a good package if you are building something complex and will be accessing the data in multiple places. It's also an abstraction layer for state management, not for storing data to the database. Even if you use that, you will have to use `@wordpress/api` or something to actually save and access the data. :)

[2021-07-21 22:24] HardeepAsrani commented on #497
@kilbot We use apiFetch and Backbone depending on the situation. If it's a small block then we just use backbone and if it's more complex then we prefer using apiFetch and run requests straight: https://github.com/search?q=org%3ACodeinwp+apiFetch&type=code

So far Backbone hasn't been depreciated so it's still worth using. Of course, the documentation is pretty shitty when using Backbone. 😛

[2021-08-09 22:05] vytisbulkevicius opened #500 "Columns Gap option makes no change"
In the Section block there is an option to chose Gap between the columns from the dropdown:
![image](https://user-images.githubusercontent.com/36594177/128780201-d3fb4301-fcb7-4c2c-b5e2-c06628cca397.png)

No matter which is the option selected it makes no change to the gap/space between the columns:
![image](https://user-images.githubusercontent.com/36594177/128780244-a76b83c3-a58b-447f-a679-d36d6

[2021-08-12 06:18] Soare-Robert-Daniel opened #501 "Add tutorial for creating a zip with the build file"
We should create a short tutorial on how a person can create a zip with the build files, so that they do not need to wait for us to make one.﻿

[2021-08-24 19:13] #66 closed

[2021-08-24 19:14] HardeepAsrani commented on #500
@vytisbulkevicius, yea, we added padding/margin options so they override these. We will remove them sometime in future.

[2021-08-31 16:02] milicavs opened #503 "Product Review Block: cannot remove the price once added"
In the Product Review Block, once you enter either price or the discounted price, you cannot remove it. When you try to delete it, it just resets to zero and is still displayed.
This might be an issue with someone trying to display a temporary discount on a product.

[2021-09-01 14:46] HardeepAsrani commented on #503
@milicavs It was fixed two days back in development: https://github.com/Codeinwp/gutenberg-blocks/commit/3e2deaa0f8f4b07bae81b0e21b283218189771f1 - I'm closing it for now.

[2021-09-01 14:46] #503 closed

[2021-09-02 12:47] abaicus opened #506 "Otter Blocks CSS & Custom CSS block attribute"
Right now, the Blocks CSS of Otter is generated in stylesheets, while the Custom blocks CSS is added separately.

It would be really helpful if this style was added to the stylesheets as well.

From my testing, tweaking some hooks and parsing the custom CSS at the same time with the other blocks CSS would make this work, but I am not sure about the external implications.

[2021-09-03 11:22] HardeepAsrani commented on #506
I've thought about it in the past that we can render CSS inline if a user is only using Custom CSS plugin but if the user is using the plugin alongside Otter and it is already generating a CSS file then we can simply add Custom CSS to that Otter CSS file. What do you think? @abaicus

[2021-09-03 11:27] abaicus commented on #506
I think that's a great idea! 👍🏻

[2021-09-08 11:27] mskapusuz opened #507 "Release zip files contains some dev files such as phpunit.xml, unit test files"
I see some dev files in the stable zip

example: in the /otter-blocks/packages/codeinwp/gutenberg-blocks

ss:
https://vertis.d.pr/vnQLEk
https://vertis.d.pr/bgdo4S

[2021-09-20 11:13] mghenciu opened #509 "Icon Block style inheritance"
By default the Icon Block from Otter Blocks is nested inside a `<p>` element. This causes (may cause in future) some style issues, meaning that themes & wordpress add by default some margin or/and padding to` <p>` elements, which translates in a different spacing then intended.

For example on [this demo](https://demosites.io/architecture-gb/), the added bottom-padding is quite visible:
![image](h

[2021-09-20 11:16] HardeepAsrani commented on #509
We can change it actually, not a big deal. It's not a nice change to make for us but if it's more semantic than we should go ahead with it.

[2021-10-04 14:09] selul commented on #447
both of them are live now:
https://themeisle.com/plugins/orbit-fox-companion/
https://themeisle.com/plugins/otter-blocks/

[2021-10-04 14:09] #447 closed

[2021-10-04 15:35] mghenciu commented on #447
Thanks @selul !

I think there may be a small issue with Testimonials section, Orbitfox page - the left image is too big (200px) compared to the right one (80px):
![image](https://user-images.githubusercontent.com/52494172/135880610-9bcab84b-b384-4841-b879-856d0fb92888.png)

So I've added now a new image 80x80px [on staging](https://staging-frontend.themeisle.com/orbitfox), and it should be fine n

[2021-10-06 21:54] HardeepAsrani opened #541 "Reduce SCSS nesting"
- A lot of the SCSS nesting is unnecessary as it doesn't really need that amount of specificity. For example here we go four levels deep with extremely long selectors

The selector [here ](https://github.com/Codeinwp/gutenberg-blocks/pull/741/files?authenticity_token=uCj0duByblzg1ZFOkxgJffW0Fe4LE%2BQL74zI%2Be9nt2nv%2FGhKRJUMnuVLmet9xFZXeif4UHKA82DC2MoG693WSg%3D%3D&file-filters%5B%5D=.js&file-filte

[2021-10-12 23:25] #496 closed

[2021-10-14 21:37] HardeepAsrani opened #540 "Masonry Extension not working with new Gallery Block"
The options for Masonry extensions don't show up in the new experimental Gallery Block that comes with the Gutenberg plugin.

[2021-10-16 20:38] HardeepAsrani opened #539 "SVG Icons"
We should allow users to use FA's SVG icons to optimize performance. We can just give them a field where they can copy/paste the SVG icon.

[2021-10-20 11:26] Soare-Robert-Daniel opened #523 "Otter 2.x"
### New Blocks
- [x] #535
- [x] #558
  - [x] Counting Animations
  - [x] Typing Animations
- [x] #560
- [x] #699
- [x] #617

### Enhancements
- Block Conditions
  - [x] #561
  - [x] #604
- Global Defaults
  - [x] #710
- Posts Block
  - [x] #655
  - [x] Integrate with ACF (reference: [link](https://creativethemes.com/blocksy/docs/extensions/post-types-extra/))
- [x] #563

### Development
- [x] #518

[2021-10-20 11:46] selul opened #524 "Review JS for frontend"
We need to review the JS that we use in the frontend for maximum performance.

Things that we need to review:

- [x] Enqueue all JS from frontend in footer (!)
- [x] #531
- [x] Make sure the JS files are minified and loaded if and only if the block that requires them is used in the current page.
- [x] Make sure to review the JS and it works with async behavior, i.e we don't check DOM before being

[2021-10-20 12:19] selul opened #526 "Review Core Web Vitals"
This will need to be reviewed together with #525 #524 and tested on Google's PSI to score 100/100
A few things to have in mind outside of css/js
- Review all image tags and make sure they have width/height being set and load an image that is appropriate to the container. I.e we don't load the full-size images on a thumbnail place.
- Review icons allow SVG input see https://github.com/Codeinwp/gute

[2021-10-20 12:20] selul opened #527 "Presentation Video for Otter 2.0"
@abaicus can help on this once we have the release ready

[2021-10-20 12:21] selul opened #528 "Readme.txt review"
The readme.txt will need a review, some good examples that we have is the one from feedzy and tweet-old-post

[2021-10-21 07:40] mghenciu opened #530 "Enhance the Icon (List block)"
It would be nice nice to have a few more options for the Icon List block. Basically the options to have the Icon boxed, framed. Check [Elementor Icon Box for inspiration](https://www.youtube.com/watch?v=VoMGDZ3Txpc). We don't need all the options from there, but in the end, the user should be able to achieve something like this:
![image](https://user-images.githubusercontent.com/52494172/138232162

[2021-10-21 11:15] Soare-Robert-Daniel opened #532 "Make blocks pluggable by separating build files."
Approaches:
1. Create a pipeline for loading independent CSS files similar to what we do in JS.
2. Create a pipeline for merging the CSS files of the present blocks, then load only a single file.
3. Hybrid, group the CSS files based on importance. E.g.: `high` - append in header, `low` - append in footer.

Ref: #525

@HardeepAsrani, what do you think?

[2021-10-22 08:37] Soare-Robert-Daniel opened #535 "Flip Block"
@JohnPixle, @mghenciu, can you recommend some resources for this type of block?

I have done some testing, and the option to append any blocks on both sides is not viable. The prototype works the same as this [one](https://www.w3schools.com/howto/howto_css_flip_card.asp).

I can make one side to have blocks insertion for complete editing, but the other must be standard (like the one from Neve Pro

[2021-10-24 02:07] mghenciu opened #542 "Updates existing Blocks"
Based on the idea that Otter Blocks should extend the functionality of Core Blocks, I think from time to time, it's good to do some checks & updates on the existing blocks. Basically using Otter Blocks should feel more like an upgrade (to the Core Blocks), and not like a hard choice between them making users think they don't have the same options as in core.

Ideally, I think it's best to check th

[2021-10-24 02:09] HardeepAsrani opened #550 "CSS/Fonts Enqueue Improvements"
This ticket is a reminder that enqueuing isn't perfect and we can improve it.

[2021-10-24 02:11] radu-themeisle opened #554 "Column margin 0 overrides section column gap"
I saw this on other template also.
The section has column gap set to a value, but on the frontend there's no gap between columns.
I believe that the column's padding/margin being set to 0 overrides the section column gap:
http://prntscr.com/md713g

[2021-10-24 02:13] HardeepAsrani commented on #550
Closing in favor of https://github.com/Codeinwp/otter-blocks/issues/532

[2021-10-24 02:15] #552 closed

[2021-10-24 02:16] HardeepAsrani commented on #507
Solved here https://github.com/Codeinwp/otter-blocks/pull/519

[2021-10-24 02:16] #507 closed

[2021-10-24 02:18] HardeepAsrani commented on #551
Just something extra, not important if we don't do it.

[2021-10-24 02:33] HardeepAsrani opened #565 "Merging Menu Icons"
What should we do with this? We can't do the same here that we did with the CSS/Animation as this needs to be a composer package if we want it to work with https://github.com/Codeinwp/wp-menu-icons

So either we keep it the way it is or we remove it from wp-menu-icons and use it only on Otter?

@selul @Soare-Robert-Daniel

[2021-10-24 04:32] HardeepAsrani opened #557 "Block Registration Revamp"
We need to use the new functions available to revamp the block registration so we can also improve how we split CSS/JS and load them conditionally.

[2021-10-24 04:33] HardeepAsrani opened #558 "Count Block or Counting/Typed Headline"
This can appear in the Animations Panel of Heading/Advance Heading, Quote & Paragraph blocks. The typing part is easier but the Count animation should only appear work on numbers.

We can redesign how the Animation tab looks so users can choose between these two + the existing loading animations, and then select what they want.

We can also use Format, if needed, to allow user to select only speci

[2021-10-24 06:28] HardeepAsrani opened #559 "Improve the Form Block's renderer"

[2021-10-24 06:31] HardeepAsrani opened #561 "Block Conditions: Add more conditions"
More conditions for Block Conditions extension, some ideas:

- [x] WooCommerce
  - [x] Based on Product in Cart
  - [x] Based on Cart Value
  - [x] Based on Purchase History

- LifterLMS
  - We wanted to incorporate LifterLMS too but they already have a Visibility module of their own for the Block Editor.

<img width="1301" alt="Screenshot 2021-11-01 at 2 24 39 PM" src="https://user-images.githubu

[2021-10-24 06:35] HardeepAsrani opened #562 "Move global defaults to Otter page"
Move the Global Defaults to Otter page and use a better UI than the current one, similar to how theme.json is displayed.

[2021-10-24 06:38] HardeepAsrani opened #563 "Simplify older controls in Section Block Controls"
More details coming soon.

[2021-10-25 05:38] HardeepAsrani opened #564 "Pricing Table Block from Neve"
More details when we get here.

[2021-10-26 10:34] HardeepAsrani opened #572 "Image Grid Extension not working with new Gallery Block"
The options for Image Grid extensions don't show up in the new experimental Gallery Block that comes with the Gutenberg plugin.

[2021-10-26 19:27] ineagu opened #575 "Move options page to a dedicated menu item"
@HardeepAsrani as the plugin grows and we might wanna have sub-pages as well, we might wanna have a dedicated menu page for otter, it would give better exposure and more freedom to structure the content in sub-pages. For e.g we can have a dedicated page where we list the PRO blocks if the user have neve :D

[2021-10-27 11:50] mghenciu opened #581 "Improve Text Controls in Advance Heading Block"
At the moment if an user adds an Advanced Heading - h3 and sets it to a custom size (44px for example) - from this point, there is no way back to reset the value of this Advanced Heading to the H3 from Customizer. The only workaround is to delete the Advanced Heading and then add a new one.

A reset size option would help, in case users change their mind & don't want to use a custom font-size anym

[2021-11-01 08:09] #565 closed

[2021-11-01 08:56] HardeepAsrani commented on #561
FYI, LifterLMS already has a pretty good Block Visibility module of their own:

<img width="1301" alt="Screenshot 2021-11-01 at 2 24 39 PM" src="https://user-images.githubusercontent.com/2649903/139646950-d61cdbb5-6e36-4459-a45c-6dbe057cbed4.png">

[2021-11-04 13:17] markdav opened #596 "Webpack error in recent update?"
I am recently seeing an webpack error on the production site with update of my site.

Wordpress Version: 5.8.1
ThemeIsle Otter: Version 1.7.1

It works fine in the admin view but not on the site, doesn't seem to matter if I change template so not sure if it's my customized template.  I see it in developer console on pages with the countdown timer or embedded maps.

[code]

See [sample page here](h

[2021-11-05 19:13] #559 closed

[2021-11-05 19:21] HardeepAsrani commented on #596
Hey @markdav,

That's weird. We tried and weren't able to reproduce this on our end with a test website. Can you reinstall Otter from WordPress.org to make sure it still happens?

If it does then we can try to look at the issue on your site to see what could be causing it. Also, can you export that block, in particular, using this plugin so we get a better idea of what all settings are being used?

[2021-11-05 22:41] HardeepAsrani opened #597 "Pros/Cons in Review Block losing focus"
Ref: https://wordpress.org/support/topic/review-block-ver-1-7-1-breaks-pros-and-cons-editing/#post-15041842

[2021-11-06 13:23] markdav commented on #596
Thanks Hardeep - I did the "delete" and re-install and get the same errror - I installed that import/export plugin and get the following:

[code]

As I say, it works just fine on the dashboard/edit page view:

![image](https://user-images.githubusercontent.com/5741188/140611228-9b5cf0b6-a7b1-4fab-a289-ab0e94e2f2a7.png)

But not on the live site as you can see..

Thanks!

[2021-11-07 17:32] HardeepAsrani commented on #596
Hey @markdav,

It appears it's happening because you're using Siteground's Assets optimizer which is conflicting with the build files of Otter. You should exclude the otter scripts from it to make it work.

Let me know if that does it for you.

[2021-11-07 17:33] HardeepAsrani opened #598 "Better throttle for Saving CSS"
When you save a post, the CSS notification appears multiple times. We should make sure it gets there only once and as soon as possible to avoid people leaving the page before a request is successfully made.

[2021-11-07 17:35] HardeepAsrani opened #599 "Block Conditions: Add some sort of indicator"
We should add some sort of indicator to tell user that some display conditions are applied to this particular block. Something similar to what Lifter does:

![https://user-images.githubusercontent.com/2649903/139646950-d61cdbb5-6e36-4459-a45c-6dbe057cbed4.png](https://user-images.githubusercontent.com/2649903/139646950-d61cdbb5-6e36-4459-a45c-6dbe057cbed4.png)

[2021-11-08 14:16] cristian-ungureanu opened #600 "Function called with wrong parameters"
According to the [documentation](https://developer.wordpress.org/reference/functions/get_the_content/), the `get_the_content` function has 3 parameters: `$more_link_text`, `$strip_teaser` and `$post`.

In https://github.com/Codeinwp/otter-blocks/blob/master/inc/class-main.php#L492 the function is called just with the `$post` parameter. Not giving the default values for `$more_link_text` and `$stri

[2021-11-09 17:38] #561 closed

[2021-11-09 17:38] HardeepAsrani commented on #600
Thanks, @Soare-Robert-Daniel for the quick PR!

[2021-11-09 17:38] #600 closed

[2021-11-09 19:14] markdav commented on #596
Thanks @HardeepAsrani - very well spotted!  Excluding otter

/plugins/otter-blocks//build/animation/frontend.js

didn't seem to work so I needed to disable the minification fill stop.

[2021-11-10 17:26] HardeepAsrani commented on #596
@markdav You should pretty much exclude all scripts in otter-blocks/build/blocks/ for frontend. The animation script isn't the one causing the error. You can still run the plugin with rest of the scripts.

[2021-11-10 17:28] HardeepAsrani opened #603 "Remove frontend scripts from Webpack build"
It seems that webpack just makes them bulkier with so much ceremonial code and if we just use some other build to minify them then it will be much lighter.

A lot of our non-minified front-end scripts are lighter than their minified build. What do you think @Soare-Robert-Daniel

[2021-11-10 17:29] HardeepAsrani opened #604 "Add free version of Conditional Block"
It can be:

- Logged In/Out
- Post Author

- Free users will only see these options.
- Neve users will see these options + Pro options disabled with a notice for Neve Pro.

[2021-11-10 18:08] poonam279 opened #605 "Improve editor/widget/customizer screen checks"
@HardeepAsrani There is a conflict between the Otter and [Download Monitor](https://wordpress.org/plugins/download-monitor/), Live Streamit, and WP courseware plugins. The widget area doesn't load if Otter is active with any of these plugins.

Live Streamit and WP courseware plugins are premium plugins so we asked the user to provide these plugins to replicate the issue. I have created a test inst

[2021-11-10 18:12] #581 closed

[2021-11-10 18:12] #205 closed

[2021-11-10 19:49] HardeepAsrani commented on #530
@mghenciu So far @Soare-Robert-Daniel has added the alignment option. For the boxed style, I think it might be worth doing that with Icon + Section as people can add whatever data they want, while the list will only have an icon and one paragraph but not something like: https://user-images.githubusercontent.com/52494172/138232406-20c2b377-2a5c-4743-8b0c-fc1083e536ac.png

What do you think? Or do y

[2021-11-11 07:27] #603 closed

[2021-11-11 08:02] mghenciu commented on #530
The current changes should be fine. I think I just thought about it as a Icon list, but in production we actually use a separate Icon/Content box for each item.
Even in [Elementor demos](https://demosites.io/food-magazine/food-magazine-subscribe/) those items are a separate Icon Box. So we can add something like that on another block, not here.

Thank you!

[2021-11-11 09:59] Soare-Robert-Daniel opened #610 "New Block: Icon Box"
A new block that is similar to Icon List but with more specific customization and additional features.

Usage case:
![target](https://user-images.githubusercontent.com/52494172/138232406-20c2b377-2a5c-4743-8b0c-fc1083e536ac.png)

Issue Ref: #530

[2021-11-11 09:59] #530 closed

[2021-11-11 12:22] Soare-Robert-Daniel commented on #605
The problem is that the `PluginSidebar` component is `undefined` which is mostly caused by some bad loading of the `wp-edit-post` dependancy.

https://github.com/Codeinwp/otter-blocks/blob/3a0ef538bfc13dab9b2c2fd6bb279688051274fe/src/blocks/plugins/options/index.js#L164-L167

We need to find out if is behavior is produced by third-party products.

[2021-11-11 16:58] #599 closed

[2021-11-11 16:58] #604 closed

[2021-11-11 17:08] HardeepAsrani commented on #605
I'm pretty sure the problem is with Download Monitor. I get this error when I open the widget screen (even without Otter):

This is causing Otter to load things that it shouldn't load. The plugin shouldn't enqueue wp-editor as a dependency on the widget screen. They should use wp-edit-widgets & wp-customize-widgets for widgets & customizer.

@poonam279 @Soare-Robert-Daniel

[2021-11-11 17:09] HardeepAsrani commented on #605
We can actually make our checks better to prevent this from happening but in the end, these plugins shouldn't load these dependencies either.

[2021-11-11 18:51] HardeepAsrani commented on #605
FYI, I've sent a PR their way to fix these issues.

[2021-11-12 09:11] Soare-Robert-Daniel commented on #597
The issue is there. Pros, Const, Features still lose focus on the `development` branch.

[2021-11-13 00:54] HardeepAsrani commented on #597
@Soare-Robert-Daniel I had fixed it for the Review block's edit part, forgot that these values could also be edited from the inspector. Fixed it.

[2021-11-13 00:54] #597 closed

[2021-11-13 02:05] HardeepAsrani commented on #596
I'm closing this for now. Let me know if that fixes it. Feel free to reopen the issue.

[2021-11-13 02:05] #596 closed

[2021-11-15 02:40] #598 closed

[2021-11-15 14:20] HardeepAsrani opened #615 "Form Block Changes"
- [x] Add an option for post-submit action:
  - Show custom message
  - Redirect to a page
  - Send user an email
  - Also a hook

- [x] Wrap form with a `<form>` tag to make sure theme styling works.

- [x] Allow Submit button text to be changed.

- [ ] Test to make sure form works properly without SMTP details in instances where other form plugins work.

- [x] Add doc link for SMTP option

[2021-11-15 15:05] #544 closed

[2021-11-15 15:12] HardeepAsrani commented on #547
Should be fixed in with: https://github.com/Codeinwp/otter-blocks/issues/563

[2021-11-15 15:12] #547 closed

[2021-11-15 15:13] HardeepAsrani commented on #549
Not needed after https://github.com/Codeinwp/otter-blocks/issues/563

[2021-11-15 15:13] #549 closed

[2021-11-15 15:14] #535 closed

[2021-11-16 02:33] #605 closed

[2021-11-16 02:59] HardeepAsrani opened #617 "WooCommerce Element Blocks"
Blocks for each WooCommerce element from the product page.

[2021-11-16 09:46] mghenciu opened #618 "Icon block outside the bounding box"
As discussed with @Soare-Robert-Daniel on Slack, in some instances, the Icon goes outside the Bounding box:
![image](https://user-images.githubusercontent.com/52494172/141960615-e28a0ae1-48d3-4128-8b25-dcd539013cd6.png)
<img width="610" alt="Screenshot 2021-11-16 at 11 40 00" src="https://user-images.githubusercontent.com/52494172/141960741-ad8b97d2-fbf1-4bea-b8cb-c952fb6ffd41.png">

Here's the de

[2021-11-17 16:28] #618 closed

[2021-11-18 08:44] Soare-Robert-Daniel opened #621 "Spacing for the Icon List Block is not working properly"
Reference: https://github.com/Codeinwp/otter-blocks/pull/577#issuecomment-971476978
Similar Issue: #544

Like in Buttons Group, the spacing is done via `margin` property instead of `gap`.

[2021-11-18 10:00] Soare-Robert-Daniel opened #623 "Old dependency name stop the loading of widgets style."
Reference: https://github.com/Codeinwp/otter-blocks/pull/577#issuecomment-971476978

Lines affected:
https://github.com/search?q=org%3ACodeinwp+%27themeisle-block_styles%27&type=code

The value `themeisle-block_styles` is an old name of a handler from the past repository. This blocks the loading of the CSS that is coming from PHP.

[2021-11-18 13:43] #621 closed

[2021-11-18 13:44] #623 closed

[2021-11-18 15:53] HardeepAsrani opened #626 "Weird errors on Widget Screen"
Robert & I found some errors on the Widgets screen with Otter blocks which are not consistent. Sometimes they happen, sometimes they don't. We need @irinelenache your QA eyes to help us find what actions are causing these errors and how to reproduce them consistently.

Here are a few ways that we get an error:

- Add a Section block to the widget page. Click on it. Press the Delete button on your

[2021-11-18 17:13] AndreeaCristinaRadacina opened #627 "FORM Block - Field Type options problem"
Hi there!
While testing the blocks to check the new options, I encountered a duplicate field type in both Contact and Subscribe Forms:
![image](https://user-images.githubusercontent.com/86592992/142463724-85289064-f072-4f25-ada8-a2e9d0df2c90.png)
Is it okay to behave like this?

[2021-11-19 07:36] Soare-Robert-Daniel commented on #626
@HardeepAsrani, @irinelenache one error appears if you have `Disable Cache` activated in the Network Tab. Insert some blocks in the widget, save, activate `Disable Cache` and the reload, something like [this will appear in the console](https://gist.github.com/Soare-Robert-Daniel/d5576d769f9ffdcf4519c8da852ce116) - I have unminified version with `define( 'SCRIPT_DEBUG', true );` .

[2021-11-19 10:34] Soare-Robert-Daniel commented on #626
@HardeepAsrani some code is deprecated. [`Button` has no longer props like `isPrimary`, `isSecondary` ](https://github.com/WordPress/gutenberg/pull/31713/files#diff-67ab236c71ce64ad2b69b520e436360298871296da9edc93901033e9519193bf)

A weird error about `key` in `DisplayTimeComponent` is displaying withe inserting a Countdown Block

[2021-11-19 11:50] HardeepAsrani opened #629 "Making Otter i18n Compatible"
We need to make sure the child plugins use their own text domains instead of using otter-blocks as it's making them untranslatable.

[2021-11-19 21:00] purplecodes opened #631 "Custom CSS not working on Section Block"
When CSS is applied in a section block, it's not taking the changes when in the latest version (v1.7.3).
This is working fine in v.1.6.9 of Otter.

See this screencast for reference: https://vertis.d.pr/Eem0UH

Ticket: https://secure.helpscout.net/conversation/1701105873/299927?folderId=212385

[2021-11-20 17:43] HardeepAsrani commented on #626
@irinelenache We think we figured things out. You should have things here: https://github.com/Codeinwp/otter-blocks/pull/630

Can you use that PR and make sure all blocks work properly in the Widgets without throwing any errors in the browser console?

[2021-11-21 18:28] Skystream96 commented on #631
It is also not working on the Advanced Header block. No errors are shown in the console.

[2021-11-21 18:39] HardeepAsrani commented on #631
It pretty much doesn't work with any blocks coming from Otter. Thanks, I'll take care of it.

[2021-11-22 14:22] purplecodes commented on #631
@HardeepAsrani this is in relation to custom CSS but let me know if I need to raise this separately.
The same customer is reporting that all custom CSS disappears when he made the latest update (v1.7.3)

https://www.loom.com/share/305ddf7f0581417d85cd52d12d5da8d9

[2021-11-22 18:35] HardeepAsrani commented on #631
@purplecodes It's the same thing. We will release an update soon.

[2021-11-22 18:48] purplecodes opened #632 "Accordion title automatically centers when an image/icon is placed before it."
When the accordion title is all text, it's aligned to the left. However, if there is an icon before the title, it centers as seen on the screenshot.

https://vertis.d.pr/JV8O48
https://vertis.d.pr/3IfSCG

Ticket: https://wordpress.org/support/topic/accordions-items-image-emoji-issue/

[2021-11-22 20:23] #627 closed

[2021-11-22 20:59] HardeepAsrani commented on #632
Hey @purplecodes,

I tried to reproduce it but wasn't able to. I tried it on Firefox, Chrome & Safari. I tested it with the default WP theme, Neve & Hestia.

Can you help me in reproducing?

[2021-11-23 16:42] purplecodes commented on #632
I created a screencast @HardeepAsrani
Please see it here: https://vertis.d.pr/90pKYt

Is this the expected behavior?

[2021-11-23 17:43] HardeepAsrani commented on #632
@purplecodes Got it, thanks.

@Soare-Robert-Daniel I'll need your help here as it seems to only happen on Windows (with Chrome at least).

[2021-11-24 07:09] Soare-Robert-Daniel commented on #632
This is the problem: https://wordpress.org/support/topic/ios-emoji/#post-10787822

I found no CSS solution to this. I think we will need an extra container for this:

https://github.com/Codeinwp/otter-blocks/blob/2cba899951d9906e55e995d978a8422108381336/src/blocks/blocks/accordion/item/save.js#L15-L20

[2021-11-24 18:53] #631 closed

[2021-11-24 19:18] #626 closed

[2021-11-24 19:25] HardeepAsrani commented on #556
@Soare-Robert-Daniel Okay so I was looking into this and I remember we didn't do it then because of the animate_ prefix issue.

And I found this out today: https://animate.style/#migration - so it's a note for the future, they do provide a backward-compatible CSS version too.

[2021-11-25 18:33] HardeepAsrani opened #638 "Define image width in Review Block"
Ref: https://wordpress.org/support/topic/review-block-unsized-images-issue-negatively-affecting-mobile-cls/

[2021-11-26 07:31] poonam279 opened #640 "Uncaught ReferenceError: L is not defined"
@HardeepAsrani
When we use the Maps block to display Open Street Maps, it gives the following error in the console.

[code]
Also, there is a lot of mixed content errors.

Test instance:

URL: https://rotspace.tastewp.com
Username: poonam
Password: Xgd6ISVdjOA

Screenshot >> https://vertis.d.pr/TDGWGn

[2021-11-26 14:48] Soare-Robert-Daniel commented on #640
The fix will be in the next release.

[2021-11-30 18:46] #640 closed

[2021-12-09 20:15] HardeepAsrani commented on #562
Doesn't work as smoothly as I expected, closing for now.

[2021-12-09 20:15] #562 closed

[2021-12-10 08:37] HardeepAsrani opened #648 "Increase Section max-width limit"
We can double it to 1200px.

[2021-12-10 08:38] HardeepAsrani opened #649 "Using CSS variable for generated CSS"
We can take a look at how we can use CSS variables to minimize the generated CSS for blocks.

[2021-12-13 11:41] Soare-Robert-Daniel commented on #648
@HardeepAsrani, are you sure is the section? The section has a limit of 1800. Also found a bug when I checked out #651

[2021-12-13 12:52] HardeepAsrani commented on #648
Yea, I meant 2400px, sorry for the error. @Soare-Robert-Daniel

[2021-12-13 12:52] HardeepAsrani commented on #648
Can you bump the max to 2400 instead?

[2021-12-13 13:27] HardeepAsrani opened #652 "Blocks CSS not working with FSE"
The CSS doesn't work for non-blocks, as in Page Templates and such so we need to test with those. We also need to test if our normal blocks work there.

[2021-12-15 11:52] JohnPixle opened #655 "Improvements to Posts Block"
@HardeepAsrani 👋🏻  🙃
I finally had the chance to consolidate my ideas on improving the Posts block. I have created the [Figma mockups](https://www.figma.com/file/LRrhO1ovZnXFibXVsezR8a/?node-id=318%3A2) and thought it would be more efficient to also create a quick walkthrough to elaborate on the improvements. Feel free to leave your comments in FIgma or here (or both), whatever works best for you,

[2021-12-17 20:46] HardeepAsrani opened #657 "Test with WordPress 5.9"
Hey @irinelenache, can you help with testing the Otter with WordPress 5.9's latest beta when you have some free time? You can list any issues that you find (including styling issues) here.

Thank you!

[2021-12-18 19:12] HardeepAsrani opened #658 "Vertical alignment not working in Section Block"
PR incoming.

[2021-12-18 19:14] #658 closed

[2021-12-21 19:05] #617 closed

[2021-12-22 11:14] Soare-Robert-Daniel commented on #548
## Testing

Activate the sticky vie block menu.
![image](https://user-images.githubusercontent.com/17597852/147083868-a367ccb7-628f-4e02-8471-3f748cb7ce68.png)

It removes in the same way.

![image](https://user-images.githubusercontent.com/17597852/147083790-7b63c6b7-8f65-4753-8d72-079dbadebf52.png)

### Option: Stick To
| Value | Action |
| --- | ---- |
| Default | Stick to the top section of th

[2021-12-22 15:01] #548 closed

[2021-12-29 18:40] #638 closed

[2021-12-29 19:40] HardeepAsrani opened #661 "Flip Box Sizing Issue"
@Soare-Robert-Daniel It looks weird when you add a large width without a large height. It looks fine in backend but in front doesn't show the text.

<img width="1035" alt="Screenshot 2021-12-30 at 12 55 32 AM" src="https://user-images.githubusercontent.com/2649903/147697175-f5cc8683-9856-458f-be76-ed6366a48b58.png">
<img width="921" alt="Screenshot 2021-12-30 at 12 55 48 AM" src="https://user-imag

[2021-12-29 21:30] #648 closed

[2022-01-02 10:06] MartinVoplakal opened #670 "Animation module breaks other plugin when is installed"
When ale these plugins activated ([Perfecty Push Notifications](https://wordpress.org/plugins/perfecty-push-notifications/) and this plugin with enabled Blocks Animation Module), the functions of Push Notif. plugin ale broken. Exactly The orange bell on left bottom corner is sometimes visible sometimes not. If I turn the Animation Module off it is ok.

[2022-01-03 02:20] HardeepAsrani commented on #670
Hey @MartinVoplakal,

I tried to reproduce it but it kept on working for me all the times. Can you @irinelenache help us in reproducing this issue? Thank you!

[2022-01-03 02:27] HardeepAsrani commented on #670
@MartinVoplakal Just an update: we figured out what might be causing it with the help of Perfectly team. They've posted the details here: https://wordpress.org/support/topic/use-addeventlistener-in-animation-frontend-js/

[2022-01-03 02:57] HardeepAsrani commented on #670
Another issue related to animations is when the animating object is in the very bottom of the screen, the animation doesn't happen because of our scrolling logic.

Can you take over this @Soare-Robert-Daniel?

[2022-01-03 03:02] HardeepAsrani opened #671 "Disable CSS & Animation for Full Site Editing Templates"
If someone is editing a template using the FSE themes, we should disable these two modules for now as they don't work. It should be easier to do as they are using `wp_template` post types.

We can enable support again once we fix them but it's better to just disable for now.

[2022-01-03 06:40] Soare-Robert-Daniel commented on #670
@HardeepAsrani, I think we can make the detection using the same technic as Progress Bar with [Intersection Observer API](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API)

[2022-01-03 16:10] HardeepAsrani commented on #670
@MartinVoplakal We've fixed it and it will be released in the next update which will come alongside WordPress 5.9. Thank you for reporting it to us!

[2022-01-03 16:10] #670 closed

[2022-01-03 16:44] HardeepAsrani commented on #655
@JohnPixle Thanks for the video. I saw it and seem to like all the idea.

But I'm a bit confused about the entire Posts Block. Have you tried the new Core's Query Block that comes with WordPress 5.8? It's a faaaar more advance version of our block and I wonder if we should switch to that type of a block (where each element is a block of its own) or just continue to make Posts Block as a more advan

[2022-01-03 16:54] HardeepAsrani commented on #655
Initial idea was to make Posts Block like Core's Query Block but I don't know how much better we can make it. It will be mostly the same or a more complex version doing mostly the same. Don't see us adding much value there as Query Block is pretty advanced and using all the goods that Core has to offer.

If we were extending that to allow more options that would've been a different thing but don't

[2022-01-04 03:55] HardeepAsrani commented on #652
Update: It doesn't work because the Site Editor is an iFrame so it's harder to get these to save and work.

[2022-01-04 05:39] #671 closed

[2022-01-04 11:24] #500 closed

[2022-01-04 11:24] #563 closed

[2022-01-04 11:41] HardeepAsrani commented on #539
@Soare-Robert-Daniel This needs to be done to close the web vitals ticket.

[2022-01-04 11:54] Soare-Robert-Daniel commented on #539
@HardeepAsrani, should we give the user a text field to paste the SVG code, or should we get the SVG via media files and the [SVG is loaded separately](https://www.wpbeginner.com/wp-tutorials/how-to-add-svg-in-wordpress/https://www.wpbeginner.com/wp-tutorials/how-to-add-svg-in-wordpress/)?

[2022-01-04 12:00] HardeepAsrani commented on #539
We can allow them to upload it and use it there as an image. This way it can also be cached.

[2022-01-04 12:00] HardeepAsrani commented on #539
Just make sure that if that way we can use fill to change the color.

[2022-01-04 12:17] #557 closed

[2022-01-04 12:19] #526 closed

[2022-01-05 05:00] HardeepAsrani commented on #532
@Soare-Robert-Daniel There's one issue here. We will still have to upgrade to the new block.json format which is needed for WP 5.9...but it's not possible to make pluggable files as support for that doesn't fully exist until WP 5.8.

What do you think? Should we drop the pluggable files or use our own loader for the enqueue part? I've some ideas on how to do it and make it easier to migrate in fut

[2022-01-05 09:18] Soare-Robert-Daniel commented on #532
@HardeepAsrani  One of my initial ideas was to make the CSS separate and then in PHP to combine them all into a single file with PHP when requested (it can work separately, but I do not know which is faster - we can do some testing in this part. From my experience with Web Core, https/2 is the key with multiple files).

We can have a condition for checking the WP version. If it is `< 5.9`, we load

[2022-01-05 11:38] JohnPixle commented on #655
Thanks for the insight here @HardeepAsrani !
Indeed I have seen the core's Query block, and it is very flexible. However there are crucial styling issues with Neve at this point, that need to be tackled. I had created an issue about that [here.](https://github.com/Codeinwp/neve-pro-addon/issues/1722)

There are a couple of things in my mind.

Firstly, I feel we should allow some time for the Core

[2022-01-05 13:08] HardeepAsrani commented on #532
@Soare-Robert-Daniel Yea, but the check won't be much simple. Anyway, we will get to it when we get to it.

[2022-01-06 17:30] poonam279 opened #677 "Gallery block duplicates images when uploading new files"
@HardeepAsrani If this plugin is active on a site and we upload images to create a gallery using gallery block, the images get duplicated with “-1” suffix.
1. Create a post (or just edit the existing one)
2. Add gallery block
3. Upload new pictures (do not choose from existing ones)
4. You will see pictures are being processed.
5. Save post
6. Go to the Media library… you should see your newly upl

[2022-01-07 09:21] Soare-Robert-Daniel commented on #677
@HardeepAsrani, can you replicate it? I can not reproduce the issue on my end.

[2022-01-07 10:09] poonam279 commented on #677
@Soare-Robert-Daniel, I have a test instance where you can replicate the issue.
 Admin area URL: https://bitesizedegg.tastewp.com/wp-admin
 Username: poonam
 Password: hUeDfmhZ3sU

[2022-01-07 11:11] Soare-Robert-Daniel commented on #677
Thanks @poonam279.

@HardeepAsrani   This problem appears for Gallery because of the Masonry plugin extension. When uploading a single picture, the initialization of the Masonry might re-trigger the request. You can observe in the network panel that the block make two requests like this: http://otter.local/wp-json/wp/v2/media?_locale=user

<img width="1106" alt="Screenshot 2022-01-07 at 13 06 07"

[2022-01-07 11:14] irinelenache commented on #657
@HardeepAsrani Tested with Wordpress 5.9 RC 1 and found 2 small things:

- [ ] The popup block doesn't work in frontend and when i want to edit the post, the editor is not loading and i get an error in console https://vertis.d.pr/UWe2U4
- [ ] For the Comparison table, alternating row color doesn't work with the default color (rest of them work fine)
editor: https://vertis.d.pr/28Z2O9
frontend: htt

[2022-01-10 16:23] ineagu opened #679 "Stripe Integration in Otter"
@HardeepAsrani I have an interesting use-case. Display x block if a stripe subscription is active.

How do you think this can best work? integrated within the plugin? Is it a generic enough use-case?

I need it for a piece of text but can work also for selling banner spaces for e.g.

My use-case in detail is that I wanna list 10 premium products once they pay a subscription, once they stop paying,

[2022-01-10 20:42] HardeepAsrani commented on #679
@Soare-Robert-Daniel Can you experiment a bit with it if possible? Stripe is not available here in India so harder for me to test.

[2022-01-11 08:38] Soare-Robert-Daniel commented on #679
@HardeepAsrani, @ineagu Checking if the subscription is active is not a big deal; we only need to make an API request at https://stripe.com/docs/api/subscriptions/list. Form 3-party integration has the same logic.

The problem is, how do we know what to check? We need the `customer` id.

Getting that customer ID can be tricky because this must be tied to the account. Looking at Stripe for WP, most

[2022-01-11 08:44] Soare-Robert-Daniel commented on #679
@ineagu, this extension is not too generic because we are limited by getting the `customer` ID. It is more like integrating with other plugins (WooCommerce) than Stripe.

[2022-01-11 11:44] ineagu commented on #679
@HardeepAsrani it's a bit of what I am wondering:

Does it make sense to try a direct stripe integration( they add more and more features), integration that we can use for multiple blocks ( buy button etc)

or

Just integrate with Woo for e.g

[2022-01-11 13:49] ineagu opened #680 "Randomize child blocks"
@HardeepAsrani not sure if is a generic enough need, I thought that would be cool an option that you can have to a group block that would randomize the child blocks (with js)

I was thinking it can be of a good use for lists of group of elements where you don't wanna display them in a particular order. It can be useful to track how attractive the child items are considering they were randomly disp

[2022-01-11 13:50] ineagu commented on #680
cc @carlosinho

[2022-01-13 04:21] poonam279 opened #681 "[Feature-request] Testimonial Slider Block"
A user suggested we should add a testimonial slider block to our collection. It can be helpful for Hestia users who want to replace the in-built testimonial section with a testimonial slider.

https://secure.helpscout.net/conversation/1755447906/305921?folderId=212390

[2022-01-13 07:59] Soare-Robert-Daniel commented on #681
One idea is to make a General Slider Block. It won't have much customization like a dedicated one, but it can serve as a simple solution for some designs.

[2022-01-13 20:48] HardeepAsrani commented on #679
@ineagu @Soare-Robert-Daniel Is there a way to check via email ID?

Else if we also give a buy using Stripe thingy, we can save the stripes ID to user's WordPress account and use that to make the request.

We already have the extension for Woo, so user can just see if the current user has bought XYZ instead of checking via the Stripe API.

[2022-01-13 21:12] ineagu commented on #679
sure we would need to build some auth for stripe first and I guess it doesn't worth just for this unless we wanna build something like wp simple pay.

Integrating with woo should be easy I guess, not sure if there is a need

[2022-01-14 08:56] Soare-Robert-Daniel commented on #679
One thing we can do is to check the user email with the stripe customer email. The workflow looks like this:

1. Get all the customers ([API](https://stripe.com/docs/api/customers/list)) and check if the user's email is in this list. If it exits, get the ID.
2. Get the subscriptions for the customer ID - [API](https://stripe.com/docs/api/subscriptions/list)
3. Check if the subscription id provided

[2022-01-14 09:00] ineagu commented on #679
oki, I guess we can have this on hold until we get better ideas for stripe.

[2022-01-14 21:22] HardeepAsrani commented on #657
@irinelenache Any idea if these issues are still there? https://github.com/Codeinwp/otter-blocks/issues/573

[2022-01-15 10:10] HardeepAsrani commented on #657
@irinelenache

- Popup issue was fixed here: https://github.com/Codeinwp/otter-blocks/pull/684
- I can't seem to reproduce it. It's working fine for me. Are you using any particular browser?

Apart from these, anything else? Also see the last comment. Thanks!

[2022-01-17 09:36] JohnPixle opened #685 "Section Block: Cannot vertically align column contents"
While working on a starter site, I noticed that I cannot vertically align the contents of the section columns.
The control seems to be stuck with the top alignment.

WP Version 5.8.3, and latest versions of Neve and Neve PRO.
I tried with the default WP theme as well, and had the same results.

Thanks for your consideration @HardeepAsrani

![Screenshot 2022-01-17 at 09 57 28](https://user-images.g

[2022-01-17 10:09] irinelenache commented on #657
@HardeepAsrani
- The issues regarding the Gallery block are still there
- The popup issue is fixed, thank you 🚀
- For the comparison block issue, i created a video for it https://vertis.d.pr/EO5YuS . I'm using Chrome, but the issue persists on frontend on Browserstack too

[2022-01-17 10:13] Soare-Robert-Daniel commented on #685
Hi @JohnPixle,

Can you give us the block code for that section to analyze it?

[2022-01-17 10:33] JohnPixle commented on #685
@Soare-Robert-Daniel thanks for following up!
I created a new page that uses only a section block: https://demosites.io/recipes-blog-gb/test-otter/

Here is the code for the section block

[code]

Let me know if you guys need any more info!

[2022-01-17 11:32] Soare-Robert-Daniel commented on #685
@JohnPixle, I check it on my end, and it is working:
![image](https://user-images.githubusercontent.com/17597852/149761924-8ed63534-3b64-4345-bb27-360e9205a749.png)

I do not know if this might be some page problems. If you refresh the page, is it the same behavior?

[2022-01-17 18:13] HardeepAsrani commented on #685
@Soare-Robert-Daniel Are you using the version available on WordPress.org?

[2022-01-17 18:28] HardeepAsrani commented on #657
@Soare-Robert-Daniel Can you take care of 5.9 issues?

[2022-01-17 19:54] #632 closed

[2022-01-17 20:02] #677 closed

[2022-01-18 09:03] Soare-Robert-Daniel commented on #685
@HardeepAsrani, you are right. I was on the `development` branch. We can say that this issue is fixed for the next release.

[2022-01-18 09:03] #685 closed

[2022-01-18 09:58] JohnPixle commented on #685
Thanks for the help!

[2022-01-18 16:53] HardeepAsrani commented on #681
I had an idea about this in past, will share in details on how we can make a general slider which can work with anything after we're done with this release,

[2022-01-18 17:33] mghenciu opened #686 "Add more Visibility conditions for Blocks, maybe we can get some of them from Neve Custom Layouts"
I know that there are plans for some improvements around Visibility conditions and Woocommerce, but I also think we could also add more generic conditions, maybe get inspiration from Neve Custom layout conditions, if possible (attached screenshot).
![image](https://user-images.githubusercontent.com/52494172/149977914-9af5d71b-13f5-4a9f-961b-0e02234b4456.png)

For example one usecase where I needed

[2022-01-18 17:35] HardeepAsrani commented on #686
@mghenciu We've already added many for WooCommerce & LifterLMS which will be out soon. For the rest, you can make a list of all the possible ones and we can see which makes sense.

[2022-01-18 18:11] mghenciu commented on #686
I guess you are referring to this ones >> https://github.com/Codeinwp/otter-blocks/issues/561

I'll trow some ideas, but feel free to comment (when you have time) if this makes sense from a technical point of view:
- Post or Page type. Meaning that if I add a Real Estate plugin, or any other plugin that creates specific single pages, it would be nice to show something conditionally only on those t

[2022-01-19 07:12] Soare-Robert-Daniel commented on #657
@irinelenache, what are the issues with the Gallery?

[2022-01-19 10:28] Soare-Robert-Daniel commented on #657
@irinelenache can you check if the Neve Pro CSS files are loading for you with this https://github.com/Codeinwp/neve-pro-addon/pull/1818 ?

[2022-01-19 11:55] Soare-Robert-Daniel commented on #657
@HardeepAsrani, we got a problem with Neve Pro Addon. It is not loading the CSS file for the Table Comparison.

@cristian-ungureanu, any idea of some condition that blocks the CSS files loading?

[2022-01-19 14:09] ineagu opened #687 "Otter Pro"
@HardeepAsrani @Soare-Robert-Daniel I add this here as a placeholder to brainstore over some functionality for otter pro. I guess some of them would be the things from neve pro plugin that would work for all themes.

Ideally we want features to work individually as a freemium, the best example is block conditions, where we do have some in free and more in pro. So instead of upselling new blocks an

[2022-01-19 14:13] Soare-Robert-Daniel commented on #572
@HardeepAsrani, Gallery now uses `innerBlocks` for insertion. The `images` attribute is empty, the plugin is not working because there are no images in attr.

[2022-01-19 14:15] HardeepAsrani commented on #687
@ineagu We also have Popup as a freemium product that has both free and pro versions, while Review Block also comes with Woo + Comparison table extension when using with Neve Pro.

[2022-01-19 14:15] HardeepAsrani commented on #687
@ineagu Soon we will also have a WooCommerce Builder for Neve Pro users so that can also be something useful. It's a pretty sick feature and should be useful as long as WooCommerce doesn't come up with their own. :)

[2022-01-19 14:21] ineagu commented on #687
right, the idea is that likely we'll want those to be theme agnostic in the next iteration.

[2022-01-19 16:28] cristian-ungureanu commented on #657
@Soare-Robert-Daniel https://github.com/Codeinwp/neve-pro-addon/blob/master/includes/modules/woocommerce_booster/comparison_table/main.php#L159-L161

@mskapusuz can you have a look here?

[2022-01-19 18:19] mskapusuz commented on #657
@cristian-ungureanu @Soare-Robert-Daniel

there is a condition for loading dynamic styles on here: https://github.com/Codeinwp/neve-pro-addon/blob/master/includes/modules/woocommerce_booster/dynamic_style.php#L95-L106

[2022-01-19 18:26] HardeepAsrani commented on #572
@Soare-Robert-Daniel Yea, I checked it then and the same reason why the our Image Reordering extension wasn't working.

[2022-01-19 20:45] HardeepAsrani commented on #655
@JohnPixle I agree with this, let's see how we can much we can improve it without turning it into an over-complicated block.

[2022-01-19 20:46] HardeepAsrani commented on #543
@Soare-Robert-Daniel can you take care of this? The details on the changes is here: https://github.com/Codeinwp/otter-blocks/issues/655#issue-1080946773

[2022-01-20 09:33] Soare-Robert-Daniel commented on #657
@cristian-ungureanu this is what I got from the debugger from that line.
![image](https://user-images.githubusercontent.com/17597852/150311934-2d738730-0f4b-40bf-9e7d-a6f574e39905.png)

@mskapusuz that function works fine

https://user-images.githubusercontent.com/17597852/150311971-9417f3b4-5ed5-4740-a204-1dbe75678102.mp4

[2022-01-20 14:13] mskapusuz commented on #657
@Soare-Robert-Daniel

if [this condition](https://github.com/Codeinwp/neve-pro-addon/blob/master/includes/modules/woocommerce_booster/comparison_table/main.php#L159) caused the return false on L160, you can manage it from [here](https://github.com/Codeinwp/neve-pro-addon/blob/80cedabcc93ecee7ca9ccd18df94f51d4da7dee3/includes/modules/woocommerce_booster/comparison_table/view/table.php#L317-L333)

A

[2022-01-20 14:37] Soare-Robert-Daniel commented on #657
No, I did not. From looking at the mentioned lines, in [this part of the code](https://github.com/Codeinwp/neve-pro-addon/blob/80cedabcc93ecee7ca9ccd18df94f51d4da7dee3/includes/modules/woocommerce_booster/comparison_table/view/table.php#L317-L333), the otter block detection is missing. It needs to be like [this](https://github.com/Codeinwp/neve-pro-addon/blob/master/includes/modules/woocommerce_bo

[2022-01-20 16:20] Soare-Robert-Daniel commented on #543
@JohnPixle, no problem with it for me 👍 . That issue will only for Post Block. In this I see other mentions for features. We will keep them both, but for Posts we will the otter issue #655

[2022-01-21 13:47] Soare-Robert-Daniel commented on #655
@JohnPixle I have some questions about the design:

I implemented the display for categories as inline with the other metadata:
![image](https://user-images.githubusercontent.com/17597852/150537491-14cd3509-3c33-4c54-8486-5f4e6de98aa5.png)

But what if there are more categories? should I display only the first?

Also, how does the displaying of the comments look (if we are going to implement this)

[2022-01-21 14:08] cristian-ungureanu opened #690 "Empty url in CSS"
When a user selects a background for a column but doesn't add any image for it, the generated CSS looks like this:
`background: url() repeat scroll top left/auto;`

For some reason ( I can't explain exactly why ), in combination with WooCommerce, Neve's variation swatches on shop and custom layouts build with Otter, generates some kind of redirection when adding a product to the cart, and it adds

[2022-01-21 18:28] HardeepAsrani commented on #690
Can you take a look? @Soare-Robert-Daniel

[2022-01-21 18:29] HardeepAsrani commented on #655
@Soare-Robert-Daniel Yea, we can just show one category. Can there be a way to allow users to put some kind of pattern in meta field so they can decide how to display them? Like: `Posted in %cat% by %author% on %date%` something like this? What do you think @JohnPixle?

[2022-01-24 11:39] mskapusuz commented on #657
@Soare-Robert-Daniel

to be consistent with https://github.com/Codeinwp/neve-pro-addon/blob/master/includes/modules/woocommerce_booster/dynamic_style.php#L95-L106

I'll made a PR on Neve Pro then let you know

[2022-01-25 11:46] mskapusuz commented on #657
@Soare-Robert-Daniel the [PR](https://github.com/Codeinwp/neve-pro-addon/pull/1834)? is ready on Neve Pro side. can you test it?

[2022-01-25 14:49] JohnPixle commented on #655
@HardeepAsrani In this case, we can/should remove/edit the entire panel for the post meta controls, correct?
![meta](https://user-images.githubusercontent.com/4193672/150998310-95c16952-e322-4b92-9251-e1a8cb1186ab.png)

Having both of these UX patterns would cause some struggle as I envision it.
I do agree though that we need some kind of further flexibility on the order of the post meta as well (

[2022-01-25 18:50] HardeepAsrani commented on #655
Yea, instead it can just be a text field with maybe info how to use it and a sane default for the current format.

[2022-01-26 12:11] irinelenache commented on #657
@mskapusuz @Soare-Robert-Daniel I tested the comparison table with [the PR](https://github.com/Codeinwp/neve-pro-addon/pull/1834) provided by Mustafa and it looks ok in frontend, but not all colors are rendering in editor https://vertis.d.pr/GY5GOf

[2022-01-27 09:01] mskapusuz commented on #657
update: @Soare-Robert-Daniel as I see, the problem comes from the Neve side. The dynamic styles are not loaded for .nv-ct-container on editor side

I'll handle that and let you know

[2022-01-27 11:57] mskapusuz commented on #657
@Soare-Robert-Daniel @irinelenache

The issue has been fixed on Neve Pro and Otter Block sides. To able to fix the issue: both of the mentioned PRs must be released.

Thanks!

### Test instructions
Install Otter from this PR: https://github.com/Codeinwp/otter-blocks/pull/691
Install Neve Pro from this PR: [fix: comparison table/otter blocks compatibility neve-pro-addon#1834](https://github.com/Cod

[2022-01-27 15:18] irinelenache commented on #657
@mskapusuz Tested again and now the Comparison block works fine both in editor and frontend 🚀 I think it can be merged when @Soare-Robert-Daniel better checks the Otter PR 👍

[2022-01-28 08:28] Soare-Robert-Daniel commented on #572
In #688, this will be disabled for ^5.9.

[2022-01-28 11:01] mghenciu opened #693 "Section transition between Fixed to Full-width and backwards"
When a new Section is added with Otter, by default the content width is set to **100% width**:
<img width="1725" alt="Screenshot 2022-01-28 at 12 21 56" src="https://user-images.githubusercontent.com/52494172/151530294-0ddb0796-21ec-4981-96a3-8709e9a18f18.png">

everything good so far, but if I change that value to 1200px (can be any number) -> the Content width will become fixed, and there is no

[2022-01-28 12:28] cristian-ungureanu commented on #690
Can't we just check if there's a valid URL and if not to exclude the background CSS rule?

[2022-01-28 12:47] mghenciu opened #694 "Add Text color controls for Columns"
This is kind of task like [this one](https://github.com/Codeinwp/otter-blocks/issues/542), where we need to update our blocks to reflect latest core updates.

Basically the Core column block has the option to adjust the Background Color, but also to set the **Color for the Text**:
<img width="1673" alt="Screenshot 2022-01-28 at 14 38 41" src="https://user-images.githubusercontent.com/52494172/1515

[2022-01-28 12:54] cristian-ungureanu commented on #690
The template is fixed but this would happen for every template where the background is set like an image but no image is uploaded. We have to fix the problem from the root.

Can you better explain the issue and why do you think it's complicated to fix? I didn't exactly understand.

[2022-01-28 13:00] Soare-Robert-Daniel commented on #690
You make a request to the page, the PHP triggers the CSS generation. This CSS comes as inline. If we a serious checking with a ping it will cause a delay. Also if we a ping, we might trigger some unexpected behavior if the link is bad.

A simple solution is to check the extension of the link, for valid image format. But I do not know if this method is fool-proof and with no edge cases.

https://gi

[2022-01-28 13:53] cristian-ungureanu commented on #690
Thank you @Soare-Robert-Daniel for the details! Let's see what @HardeepAsrani thinks.

[2022-01-28 19:38] #540 closed

[2022-01-28 19:38] #572 closed

[2022-01-28 21:55] HardeepAsrani commented on #690
Yea, I've merged the PR. It seems enough to check for a valid image pattern. Thanks, Robert!

[2022-01-28 21:55] #690 closed

[2022-01-29 01:15] HardeepAsrani commented on #558
@Soare-Robert-Daniel FYI, we also need Typing animation after Count. I'll finish the UI improvements and then you can take over the PR for Typing animation. We can use a third-party library for the typing animations.

[2022-01-31 14:29] poonam279 opened #696 "Issue with the Tabs Block"
When we use tabs under a tab, the content of all tabs appears under the first tab.

<img width="1459" alt="Markup 2022-01-31 at 19 51 03" src="https://user-images.githubusercontent.com/27731529/151810295-ad138037-1819-4897-91ff-8d64e14121a0.png">

1. Create a page and add Tab Block
2. Add atleast 2 tabs
3. Under the content of 1st tab add another Tab Block
4. Now add 2 or 3 tabs here.
5. Check the